<!DOCTYPE html>
<html> <!-- root element -->
<head> <!-- HTML 문서에 대한 설명 -->
  <meta charset="UTF-8">
  <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1"/>
  <title>프로필</title> <!-- 웹브라우저 탭 또는 타이틀바에 출력될 제목 -->
  <link rel='stylesheet' href='../node_modules/bootstrap/dist/css/bootstrap.min.css'>
  <link rel='stylesheet' href='../css/tomato.css'>
  <link rel='stylesheet' href='../css/ekdma4.css'>
  <script src='../node_modules/jquery/dist/jquery.min.js'></script>
  <script src='../node_modules/bootstrap/dist/js/bootstrap.min.js'></script>
  <script src="../js/jquery.twbs-toggle-buttons.min.js"></script>
  <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
  <style>
    svg {
      width:35%;
    }

  </style>
</head>

<body>
  <div class="container">
    <div class="pro-header-form">dsd<!-- header-form 헤더-->
    </div>
    <div class="cont-box"> 대충이름
    </div>
      <div class="outer">
        <div class="inner">
          <svg viewbox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <defs>
              <clipPath id="hexClip">
                <polygon points="50 1 99 25 99 75 50 99 1 75 1 25"/>
              </clipPath>
            </defs>
            <image xlink:href="https://farm4.staticflickr.com/3165/5733278274_2626612c70.jpg" x="-25" width="150" height="100" clip-path="url(#hexClip)"/>
          </svg>
        </div>
      </div><!--육각형사진-->

      <div class="info"><!--정보부랴부랴-->
        <p>이름이나 그런것들 어쩌구저쩌구</p>
        <p>2</p>
        <p>3</p>
        <p>4</p>
        <p>5</p>
      </div>
      <div class="sl">
        <div style="width : 2000px;">
          <div class="sl-pic"></div>
          <div class="sl-pic"></div>
          <div class="sl-pic"></div>
          <div class="sl-pic"></div>
          <div class="sl-pic"></div>
          <div class="sl-pic"></div>
          <div class="sl-pic"></div>
          <div class="sl-pic"></div>
          <div class="sl-pic"></div>
          <div class="sl-pic"></div>
          <div class="sl-pic"></div>
          <div class="sl-pic"></div>
          <div class="sl-pic"></div>
        </div>
      </div> <!--슬라이드 프로모션>-->
      <div id="pro-timetable">
        <table>
          <tr>
            <th style="width: 30px"></th>
            <th>월</th>
            <th>화</th>
            <th>수</th>
            <th>목</th>
            <th>금</th>
            <th>토</th>
            <th>일</th>
          </tr>
          <tr>
            <td class="pro-time-off pto-1" value="off"></td>
            <td class="pro-time-off pto-2" value="off"></td>
            <td class="pro-time-off pto-3" value="off"></td>
            <td class="pro-time-off pto-4" value="off"></td>
            <td class="pro-time-off pto-5" value="off"></td>
            <td class="pro-time-off pto-6" value="off"></td>
            <td class="pro-time-off pto-7" value="off"></td>
          </tr>
          <tr>
            <td class="pro-time-off pto-8" value="off"></td>
            <td class="pro-time-off pto-9" value="off"></td>
            <td class="pro-time-off pto-10" value="off"></td>
            <td class="pro-time-off pto-11" value="off"></td>
            <td class="pro-time-off pto-12" value="off"></td>
            <td class="pro-time-off pto-13" value="off"></td>
            <td class="pro-time-off pto-14" value="off"></td>

          </tr>
          <tr>
            <td class="pro-time" rowspan="2"> 10</td>
            <td class="pro-time-off1" value="off"></td>
            <td class="pro-time-off2" value="off"></td>
            <td class="pro-time-off3" value="off"></td>
            <td class="pro-time-off4" value="off"></td>
            <td class="pro-time-off5" value="off"></td>
            <td class="pro-time-off6" value="off"></td>
            <td class="pro-time-off7" value="off"></td>
          </tr>
          <tr>
            <td class="pro-time-off8" value="off"></td>
            <td class="pro-time-off9" value="off"></td>
            <td class="pro-time-off10" value="off"></td>
            <td class="pro-time-off11" value="off"></td>
            <td class="pro-time-off12" value="off"></td>
            <td class="pro-time-off13" value="off"></td>
            <td class="pro-time-off14" value="off"></td>
          </tr>
          <tr>
            <td class="pro-time" rowspan="2"> 11</td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
          </tr>
          <tr>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
          </tr>
          <tr>
            <td class="pro-time" rowspan="2"> 12</td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
          </tr>
          <tr>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
          </tr>
          <tr>
            <td class="pro-time" rowspan="2"> 13</td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
          </tr>
          <tr>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
          </tr>
          <tr>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
            <td class="pro-time-off" value="off"></td>
          </tr>
        </table>
        <img class="pro-schedule-save" src="SSAVE.png">
      </div><!--시간>-->
      <button>친구추가</button>
      <button>어쩌구저쩌구</button>

      <div class="tab-wrap">
    <ul>
        <li><a href="#tab1">강사평</a></li>
        <li><a href="#tab2">tab2</a></li>
    </ul>

    <div>
        <article id="tab1">
            <h1>tab1</h1>
            <p>Here is tab1 contents</p>
        </article>
        <article id="tab2">
            <h1>tab2</h1>
            <p>Here is tab2 contents</p>
        </article>
    </div>
</div>



  </div>

    </div>
    <div>
    </div>







  </div>




<script>
angular.module('app', []);

(function () {
    'use strict';

    angular
        .module('app')
        .directive('tabShell', TabShell);

    TabShell.$inject = [];

    function TabShell() {
        var directive = {
            'scope': {},
            'template': '<div class="tab-shell-container">'+
			        '<nav class="tabs">'+
				      '<div ng-repeat="tab in TabShellController.tabs" class="tab" ng-class="{\'tab-active\': tab.active}" ng-style="{\'width\':TabShellController.sectionWidth + \'%\' }">'+
					    '<div class="tab-header" ng-class="tab.icon" ng-click="TabShellController.select(tab)">{{tab.heading}}</div>'+
				      '</div>'+
				      '<div class="tab-slider" ng-style="{\'width\':TabShellController.sectionWidth + \'%\', \'transform\': \'translate3d(\' + (100*TabShellController.position) + \'%,0,0)\'}"></div>'+
			        '</nav>'+
			        '<div class="tabs-content" ng-style="{\'width\':TabShellController.sectionOffset + \'%\',\'transform\': \'translate3d(-\' + (100*TabShellController.position) / TabShellController.tabs.length + \'%,0,0)\'}"  ng-transclude>'+
			        '</div>'+
		          '</div>',
            'transclude': true,
            'bindToController': true,
            'controllerAs': 'TabShellController',
            'controller': TabShellController
        };
        return directive;

        function TabShellController() {
            var self = this;
            self.tabs = [];             // collection of tabs which also allow access to their isolate scope
            self.position = 0;          // tracking the current location (which tab is selected)
            self.sectionOffset = 0;     // calculates a percent based on the number of tabs
            self.sectionWidth = 100;    // calculates a percent based on the number of tabs

            /* function to initialize a new tab */
            self.addTab = function addTab(tab) {

                /* tell the tab its number so it can align itself properly in order
                * we want this value to be zero based, since the first tab will translate 0%
                * */
                tab.tabNumber = self.tabs.length;

                /* push the tab onto the array, if its the first one, make it the active tab */
                self.tabs.push(tab);
                if( self.tabs.length === 1 ) {
                    tab.active = true;
                }

                /* calculate sectionWidth and sectionOffset */
                self.sectionWidth = 100 / self.tabs.length;
                self.sectionOffset = 100 * self.tabs.length;

                /* recalculate all tab widths */
                angular.forEach(self.tabs, function(tab) {
                    tab.tabWidth = self.sectionWidth;
                });

            };

            /* function to select a tab */
            self.select = function(selectedTab) {

                /* loop through all the tabs, set them be inactive except the one that was selected */
                angular.forEach(self.tabs, function(tab, index) {
                    if( tab.active && tab !== selectedTab ){
                        tab.active = false;
                    }
                    if ( tab === selectedTab ) {
                        self.position = index;
                    }
                });
                selectedTab.active = true;

            };

        }

    }

})();


(function () {
    'use strict';

    angular
        .module('app')
        .directive('tab', tab);

    function tab() {
        var directive = {
            'scope': {
                'heading': '@',
                'icon': '@?'
            },
            'link': link,
            'template': '<div class="section" ng-style="{\'width\':tabWidth + \'%\',\'transform\': \'translate3d(\' + (100*tabNumber) + \'%,0,0)\'}" ng-class="{\'section-active\':active}" ng-transclude></div>',
            'transclude': true,
            'require': '^tabShell'
        };
        return directive;

        function link(scope, element, attrs, TabShellController) {
            scope.active = false;
            scope.tabNumber = 0;
            scope.tabWidth = 0;
            TabShellController.addTab(scope);
        }

    }

})();

</script>

</body>
</html>
