body {
  /*font-family: 'UhBeemysen';
  font-size: 2rem;*/
  margin: 0px;
  padding: 0
}

dl {
  display: inline-block;
  margin-left: 10px;
}
dt {
  position: absolute;
  float: left;
}
dd {
  float: left;
  position: absolute;
  margin-top: 20px;;

}
.fa {
  font-size: 2rem;
  color: black;
}
.container {
  padding: 0;
}
.header {
  height: 60px;
  position: relative;
  padding: 0;
  text-align: center;
  line-height: 60px;
}
.header a {
  padding-top: 3px;
}
.chat-line div {
  display: inline;
}

.chat-body {
  margin: 0;
}
.chat-content > div {
  border-bottom: 1px solid gray;
}
.chat-content img {
  margin: 5px 0;
  display: inline;
}

.chat-detail {
  height:623px;
  background-color: #F2D9D9;
}
.cd-content span {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
.btn {
  font-size: 1.6rem;
  color: white;
  background-color: #D17171;
}
#logo {
  display: inline-block;
  font-size: 2rem;
  margin: 0;
}
#logo a {
  color: #d17171;
  font-weight: bold;
  text-decoration: none;
  line-height: 60px;
}
#menu {
  position: absolute;
  left: 10px;
}
#search {
  position: absolute;
  right: 10px;
}
#header-menu {
  width: 35px;
}
#header-search {
  width: 31px;
}

#chat-header {
  width: 100%;
  margin: 0;
  font-size: 1.6rem;
  text-align: center;
  line-height: 47.4px;
  background-color: #D17171;
  height: 45px;
  color: white;
}

#cd-header img {
  position: absolute;
  left: 5px;
  vertical-align: top;
  margin: 5px 0 0 5px;;
}

#cd-header {
  text-align: center;
  line-height: 50px;
  font-size: 2rem;
  height: 50px;
  border-bottom: 1px solid gray;
}


#cd-content img {
  border-radius: 10px;
  float: left;
  margin-right: 7px;
  width: 50px;
}

#cd-content {
  box-sizing: border-box;
  overflow:scroll;
  width: 100%;
  height: 72%;
  padding: 10px;
}

#cd-footer {
  box-sizing: border-box;
}

#me {
  float: right;
}
#you {
  display: inline-block;
  margin: 4px 0;
}
#message {
  margin-left: 2px;
  height: 30px;
  width: 78%;
}
