/*iphone5~6*/
@media (min-device-width: 320px) and (max-device-width: 374px) {
  dl {
    margin-bottom: 27px;
  }
  dd {
    margin-top: 19px;
  }
  .chat-line img{
  	height: 50px;
  }

}
/*iphone plus*/
@media (min-device-width: 375px) and (max-device-width: 413px) {
  dl {
    margin-bottom: 31px;
  }
  dd {
    margin-top: 21px;
  }
  .chat-line img{
    height: 56px;
  }
}

@media (min-device-width: 414px) and (max-device-width: 735px)  {
  dl {
    margin-bottom: 33px;
  }
  .chat-line img{
    height: 62px;
  }
}

body {
  margin: 0px;
  padding: 0
}

dl {
  display: inline-block;
}
dt {
  position: absolute;
}
dd {
	position: absolute;
  font-size: 1.4rem;
  top: 12.5%;
}

.chat-container {
  padding: 0;
}

.chat-header {
  position: relative;
  width: 100%;
  margin: 0;
  font-size: 1.6rem;
  text-align: center;
  line-height: 60px;
  background-color: #f7ac1a;
  height: 60px;
  color: white;
}

.chat-header > .close-btn {
  position: absolute;
  right: 5%;
	top: 30%;
  font-size: 2rem;
  font-weight: normal;
}


.chat-line div {
  display: inline;
}

.chat-body {
  margin: 0;
}
.chat-content > div {
  border-bottom: 1px solid #ddd;
}
.chat-content img {
  margin: 2%;
  display: inline;
}

.chat-line img{
	border-radius: 50px;
	width: 15%;
}

.chat-detail {
  height:623px;
  background-color: #F2D9D9;
}
.cd-content span {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
.btn {
  font-size: 1.6rem;
  color: white;
  background-color: #f7ac1a;
}
.me {
  float: right;
}
.you {
  display: inline-block;
  margin: 4px 0;
}

#cd-header img {
  position: absolute;
  left: 5px;
  vertical-align: top;
  margin: 5px 0 0 5px;;
}

#cd-header {
  text-align: center;
  line-height: 50px;
  font-size: 2rem;
  height: 50px;
  border-bottom: 1px solid gray;
}


#messageBox img {
  border-radius: 10px;
  float: left;
  margin-right: 7px;
  width: 50px;
}

#messageBox {
  box-sizing: border-box;
  overflow:scroll;
  width: 100%;
  height: 72%;
  padding: 10px;
}

#cd-footer {
  box-sizing: border-box;
}

#message {
  margin-left: 2px;
  height: 30px;
  width: 78%;
}
