@media (min-device-width: 320px) and (max-device-width: 413px) {
  .detail-container {
    min-width: 320px;
    max-width: 413px;
    padding: 0;
    height: 100%;
  }
}
@media (min-device-width: 414px) and (max-device-width: 767px) {
  .main-container {
    /*min-width: 415px;*/
    max-width: 414px;
    padding: 0;
    height: 100%;
  }
}
@media (min-device-width: 768px) {
  .detail-container {
    background-color: #f3d9d9;
    max-width: 768px;
    padding: 0;
    height: 100%;
  }
}

label {
  display: inline-block;
  max-width: 70%;
}
.detail-container {
  background-color: #f3d9d9;
}
.detail-container .header {
  position: relative;
  height: 15%;
  background-color: #d17171;
}

.detail-container .search-bar {
  /*line-height: 44px;*/
  font-size: 1.6rem;
  width: 100%;
  height: 44px;
  margin-top: 2%;
  border: 1px solid silver;
  padding: 0;
  display: block;
}
.detail-container .menu {
  /*right: 10px;*/
  margin-right: 10%;
}

.detail-container #search {
  width: 100%;
  position: relative;
  font-size: 1.6rem;
  /*padding-right: 10px;*/
}
#search label {
  position: absolute;
  left: 17px;
  top: 10px;
}
