
.pro-header-form {
  height: 50px;
  background-color: #F7AC1A;
}
.pro-container {
  height: 700px;
}

.pro-name {
  padding-left: 4%;
  width: 43%;
  margin:0% 3%;
  border: silver;
  background-color: white;
  color: black;
  height: 45px;
  display: inline-block;
  outline: none;
  border-bottom: 2px #F7AC1A solid;
  -webkit-border-bottom: 2px #F7AC1A solid;
  -moz-border-bottom: 2px #F7AC1A solid;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;

}
.pro-place {
  padding-left: 4%;
  margin:0% 3%;
  border: silver;
  background-color: white;
  color: black;
  height: 45px;
  width: 94%;
  outline: none;
  display: inline-block;
  border-bottom: 2px #F7AC1A solid;
  -webkit-border-bottom: 2px #F7AC1A solid;
  -moz-border-bottom: 2px #F7AC1A solid;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
  appearance: none;

}
.pro-ttable-no {
  width:50px;;
}
.pro-time-off {
  height: 20px;
}
.pro-time {
  border: none;
}

#pro-select {
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-bottom: 2px #F7AC1A solid;
  -moz-border-bottom: 2px #F7AC1A solid;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;

}


#pro-type {
  display: inline-block;
  position: absolute;
  -webkit-border-bottom: 2px #F7AC1A solid;
  -moz-border-bottom: 2px #F7AC1A solid;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
}

#box1 {
  margin: 10% 10% 15% 25%;
  background-color: violet;
  width: 50%;
  height: 180px;
  background-color: #0094ff;
  text-align: center;
  line-height: 200px;
  border-radius: 50%;
}



#pro-type > select {

  display: inline-block;
  width:205%;
  height: 45px;
  font-size : 1.6rem;
  color:black;
  border: none;
  border-bottom: 2px #F7AC1A solid;
  margin:0% 3%;
  outline: none;

}
#pro-dt {
  color: grey;
  margin:3% 7% 2% 7%;
  font-size : 1.6rem;
  -webkit-border-bottom: 2px #F7AC1A solid;
  -moz-border-bottom: 2px #F7AC1A solid;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
}
#pro-dd {
  width: 94%;
  font-size : 1rem;
  padding: 3%;
  margin:0% 3%;
  border: 2px #F7AC1A solid;
  -webkit-border-bottom: 2px #F7AC1A solid;
  -moz-border-bottom: 2px #F7AC1A solid;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
}
#pro-ttime {
	width:10px;
	outline: none;
}
#pro-timetable {
  margin:0% 3%;
  margin-top: 3%;
  width: 94%;
  border: 1px solid red;
  border-radius: 10px;
}

table {
  border-radius: 10px;
}


th {
  text-align: center;
  font-weight: lighter;
  font-size: 1.8rem;
  height: 50px;
  width: 50px;
  color: white;
  background-color: #F7AC1A;
  border-left: 1px solid white;

}
td {
  height: 15px;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
}
td > input {
  padding-left: 5%;
  outline: none;
  border: none;
}
