.pro-container {
  height: 700px;
}
.d-bottom-Btn {
  width: 100%;
  padding: 5% 0% 0% 10%;
}
.d-qa-Btn{
  width: 45%;
}
.d-add-Btn {
   width: 45%;
 }

 .sl {
   margin-top: 10%;
   margin-left: 3%;
   /*padding: 0% 4%;*/
   width: auto;
   height: 50px;
   overflow: hidden;
   overflow-x: scroll;
 }
 .sl-pic {
   width: 70px;
   height: 30px;
   display: inline-block;

   background-color: green;
   /*margin: 0% 3%;*/
 }
 .info {
   border: 1px brown solid;
 }
 .cont-box{
 width:0px;height:0px;
 border-right:414px solid transparent; /*border의 성질을 이용해 오른쪽테두리만 투명으로 만든다. */
 border-top:200px solid #F7AC1A; /*border를 사용해 두께를 만든다.*/
 }

 .outer {
   float: left;
 }

 #pro-timetable {
   margin:0% 3%;
   /*margin-top: %;*/
   width: 94%;
   /*border: 1px solid red;*/
   border-radius: 10px;
 }
 table {
   /*border: 1px solid red;*/
   border-radius: 100px;;
 }


 th {
   text-align: center;
   font-weight: lighter;
   font-size: 1.8rem;
   height: 25px;
   width: 50px;
   color: white;
   background-color: #F7AC1A;
   border-left: 1px solid white;

 }
 td {
   height: 25px;
   width: 50px;
   border-bottom: 1px solid #e6e6e6;
   text-align: center;
 }
 td > input {
   padding-left: 5%;
   outline: none;
   border: none;
 }
