
.pro-container {
  height: 700px;
  /*background-color: grey;*/
}
fieldset {
  border: 1px solid gray !important;
  margin-top: 10px;
  width: 80%;
  display: inline-block;
}
legend {
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border:none;
    width: auto;
}
.btn-success {
  background-color: none !important;
  border: none !important;
}
#t-plus-Btn {
  width: 27%;
}
#t-minus-Btn {
  display: inline-block;
  width: 20%;
  margin: -10% -80% 0% 0%;
}
.remove {

  display: inline-block;
}
.t-t-time {
  width: 40%;
  /*border: 1px solid green;*/
  margin: 0% 0% 5% 5%;
}
select {
    outline: none;
      border: none;

       -webkit-appearance: none;
}
legend {
  margin-left: 10px;
  width :60px;
}
#t-t-t-time {
  width: 20%;
}
#mi-Btn {
  width: 20%;
}
#btnAdd {
  width: 100px;
}
/*.btn-primary {
    color: #fff;
     background-color: none !important;
     border-color: none !important;
}*/
.pro-qa-Btn {
  width: 40%;
  display: none;
}
.pro-add-Btn {
  margin-left: 53%;
  width: 40%;
  height: 10%;
}
