.header-form {
  height: 50px;
  background-color: #F7AC1A;
}
.ekdma-container {
  /*height: 1000px;*/
  background-color: silver;
  /*border : 1px red solid;*/
  /*background-color: grey;*/
  /*background-color: white;*/
  /*background-color: grey;*/


}
.ekdma-all-menu {
  float: inherit;
  margin-top: 45%;
  /*border : 2px red solid*/
}
.ekdma-left {
  /*margin-left:20px;*/
  /*border : 2px red solid;*/
  /*padding: 0 0 0 -10px;*/
  float : left;
}
.ekdma-right {
  /*border : 2px red solid;*/
  float : right;
}
#ekdma-Btn-img1 {

  margin-top: -16%;
  z-index: 4;
}
#ekdma-Btn-img2 {
  margin-top: -24%;
  margin-left: 40%;
  z-index: 3;
}
#ekdma-Btn-img3 {
  margin-top: -24%;
  z-index: 2;
}
#ekdma-Btn-img4 {
  margin-top: -24%;
  margin-left: 40%;
  z-index: 1;
}

/*#ekdma-Btn-img1 {

  margin-top: -16%;
  margin-left: -11%;
  z-index: 4;
}
#ekdma-Btn-img2 {
  margin-top: -35%;
  margin-left: 29%;
  z-index: 3;
}
#ekdma-Btn-img3 {
  margin-top: -35%;
  margin-left: -11%;
  z-index: 2;
}
#ekdma-Btn-img4 {
  margin-top: -35%;
  margin-left: 29%;
  z-index: 1;
}*/
  img {
  /*height: 100px;*/
  width: 60.2%;
}
