
.pro-container {
  height: 700px;
}

.pro-name {
  padding-left: 4%;
  width: 36%;
  margin:0% 3%;
  border: silver;
  background-color: white;
  color: black;
  height: 45px;
  display: inline-block;
  outline: none;
  border-bottom: 2px #F7AC1A solid;
  -webkit-border-bottom: 2px #F7AC1A solid;
  -moz-border-bottom: 2px #F7AC1A solid;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;

}
.pro-place {
  margin-left: 3%;
  display: inline-block;
  padding-left: 4%;
  border: silver;
  background-color: white;
  color: black;
  height: 45px;
  outline: none;
  display: inline-block;
  border-bottom: 2px #F7AC1A solid;
  -webkit-border-bottom: 2px #F7AC1A solid;
  -moz-border-bottom: 2px #F7AC1A solid   ;
  -webkit-border-radius:0px   ;
  -moz-border-radius:0px   ;
  appearance: none   ;

}
.pro-schedule-save {
  margin: 5% 0% 0% 32%;
  width: 36%;
}
#pro-place-1 {
  width: 36%;
}

.pro-place-2 {
  width: 35%;
}
.pro-place-3 {
  width: 93%;
}
.pro-place-4 {
  width: 93%;
}
.pro-place-Btn {
  margin : 2% 0% 0% 7%;
  display: inline-block;
  width: 8%;
}
.pro-ttable-no {
  width:50px;;
}
.pro-time {
  border: none;
}

.click {
  background-color: red;
}
#pro-select {
  padding-left: 4%;
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-bottom: 2px #F7AC1A solid;
  -moz-border-bottom: 2px #F7AC1A solid;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;

}


#pro-type {
  display: inline-block;
  position: absolute;
  -webkit-border-bottom: 2px #F7AC1A solid;
  -moz-border-bottom: 2px #F7AC1A solid;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
  float: left;
}

#box1 {
  margin: 10% 10% 15% 25%;
  background-color: violet;
  width: 50%;
  height: 180px;
  background-color: #0094ff;
  text-align: center;
  line-height: 200px;
  border-radius: 50%;
}



#pro-type > select {
  padding-left: 15%;
  display: inline-block;
  width:210%;
  height: 45px;
  font-size : 1.6rem;
  color:black;
  border: none;
  border-bottom: 2px #F7AC1A solid;
  margin:0% 4%;
  outline: none;

}

#pro-dt {
  color: grey;
  margin:3% 7% 2% 7%;
  font-size : 1.6rem;
  -webkit-border-bottom: 2px #F7AC1A solid;
  -moz-border-bottom: 2px #F7AC1A solid;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
}
#pro-dd {
  width: 94%;
  font-size : 1rem;
  padding: 3%;
  margin:0% 3%;
  border: 2px #F7AC1A solid;
  -webkit-border-bottom: 2px #F7AC1A solid;
  -moz-border-bottom: 2px #F7AC1A solid;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
}
.pro-time {
	height: 50px;
	outline: none;
}
#pro-timetable {
  margin:0% 3%;
  margin-top: 3%;
  width: 94%;
  /*border: 1px solid red;*/
  border-radius: 10px;
}
#open_nav_link {
  margin:0% 5% 0% 0%;
  display: inline-block;
  float: right;
  width: 10%;
}
.ro-time-off {
  height: 30px;
}

table {
  /*border: 1px solid red;*/
  border-radius: 100px;;
}


th {
  text-align: center;
  font-weight: lighter;
  font-size: 1.8rem;
  height: 50px;
  width: 50px;
  color: white;
  background-color: #F7AC1A;
  border-left: 1px solid white;

}
td {
  height: 25px;
  width: 50px;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
}
td > input {
  padding-left: 5%;
  outline: none;
  border: none;
}
.pro-bottom-Btn {
  width: 100%;
  padding: 5% 0% 0% 10%;
}
.pro-view-Btn{
  width: 45%;
}
 .pro-save-Btn {
   width: 45%;
 }
