@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body{ 
	background: #222; 
 }

.join-container{
  position: relative;
  width: 28%;
  margin: 10px auto;
}
 .inner-logo {
  padding: 0 20%;

}
.inner-logo .bombee {
  display: inline-block;
  width: 100%;
}

.main-box{ 
  width: 100%;
  height: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

.create {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 18px 15px;
  background: rgba(19, 20, 27, 0.72);
}

h2, .user, .email, .pass{ 
  display: block;
}

h2{ 
  text-align: center;
  color: #f7f3f2;
  font-weight: 400;
  font-size: 1.8rem;
  margin-top: 20px;
  margin-bottom: 35%;
}
.btn-label {
  height: 40px;
  color: white;
}

.btn-label:hover {
  color:white;
}
.click {
  border-bottom: 2px solid #f7ac1a;
}

.user, .email, .pass, .id, .title_gym, .detail_address, .address{
  width: 85%;
  height: 45px;
  border: none;
  color: white;
  margin: auto 8%;
  padding-left: 13%;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 25px;
  margin-bottom: 0;
  background: rgba(158, 158, 158, 0.49);
}

.join-font {
	border-radius: 0;
	font-size: 1.4rem;
}
.zip {
  width: 51%;
  height: 45px;
  border: none;
  color: white;
  padding-left: 13%;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 25px;
  margin-bottom: 0;
  background: rgba(158, 158, 158, 0.49);
}

input::placeholder{
  color: #fff;
  font-size: 1.4rem;
  font-weight: 100;
  transition: all 0.4s ease;
}

input:focus::placeholder{
  opacity:0;
}

.fa {
  color: #67c5e7;
  font-size: 1.4rem;
  position: relative;
  left: -35%;
  top: 34px;
}
.zip-fa {
	color: #67c5e7;
  font-size: 1.6rem;
  position: relative;
  left: -35%;
  top: 34px;
}

.join{
  color: #fff;
  cursor: pointer;
  width: 85%;
  height: 50px;
  border: none;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 20% 8%;
  background: #f7ac1a;
  border-radius: 25px;
  transition: background 0.4s ease;
}
input#addr-find.btn {
	  height: 45px;
    margin-left: 10px;
    width: 28%;
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: solid 1px white;
}
button.join:hover {
  background: #2196F3;
}


@media only screen and (min-width : 320px) {
	html {
		font-size: 12px;
	}
  .join-container{ width: 100% }
}

@media only screen and (min-width : 375px) {
	html {
		font-size: 14px;
	}
  .join-container{ width: 100% }
}

@media only screen and (min-width : 414px) {
	html {
		font-size: 16px;
	}
  .join-container{ width: 100% }
}
