@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body{ background: #222; }

.cont{
  position: relative;
  width: 28%;
  height: 600px;
  margin: 10px auto;
}

.main-box{ 
  width: 100%;
  height: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image:  url('http://image.ibb.co/b4nBFk/pexels_photo1.jpg');
}

.create {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 18px 15px;
  background: rgba(19, 20, 27, 0.72);
}

h2, .user, .email, .pass{ 
  display: block;
}

h2{ 
  text-align: center;
  color: #f7f3f2;
  font-weight: 400;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 35%;
}
.btn-label {
  height: 40px;
  color: white;
  padding: 0px 12px;
  padding-top: 15px;
}
.btn-label:hover {
  color:white;
}
.click {
    border-bottom: 2px solid #f7ac1a;
  }

.user, .email, .pass, .id, .title_gym, .detail_address, .address{
  width: 85%;
  height: 45px;
  border: none;
  color: white;
  margin: auto 8%;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 25px;
  margin-bottom: 0;
  background: rgba(158, 158, 158, 0.49);
}

 .zip {
  width: 51%;
  height: 45px;
  border: none;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 25px;
  margin-bottom: 0;
  background: rgba(158, 158, 158, 0.49);
}

input::placeholder{
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  transition: all 0.4s ease;
}

input:focus::placeholder{
  opacity:0;
}

.fa {
  color: #67c5e7;
  font-size: 20px;
  position: relative;
  left: -35%;
  top: 34px;
}
.zip-fa {
	color: #67c5e7;
  font-size: 20px;
  position: relative;
  left: -35%;
  top: 34px;
}

.login{
  color: #fff;
  cursor: pointer;
  width: 85%;
  height: 50px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 20% 8%;
  background: #f7ac1a;
  border-radius: 25px;
  transition: background 0.4s ease;
}
input#addr-find.btn {
	height: 45px;
}
button.login:hover {
  background: #2196F3;
}

@media only screen and (min-width : 280px) {
  .cont{ width: 90% }
}

@media only screen and (min-width : 480px) {
  .cont{ width: 60% }
}

@media only screen and (min-width : 768px) {
  .cont{ width: 40% }
}

@media only screen and (min-width : 992px) {
  .cont{ width: 30% }
}