@font-face {
  font-family: Comic Sans MS;
}
body {
  font-family: Comic Sans MS;
}
.container {
  margin: 0px 5%;
  }

.test {
  background-color: #d17171;
  color:white;
  height: 40px;
}
.btn {
  border: 1px solid #d17171;
  width:50%;
  height: 40px;
}
.btn-group {
  width:100%;
}
.col-xs-2 {
  padding-left: 0px;
  padding-right: 0px;
  width: 25%;
}
.form-control {
  height: 50px;
  border-radius: 0;
}
.row {
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

#logo a {
  color: #d17171;
  font-weight: bold;
  text-decoration: none;
  line-height: 60px;
}
#join-margin {
  margin-top: 10px;
}

#join-date {
  width: 100%;
  height: 50px;
  border-radius: 0 5px 5px 0;
}
#join-mm {
  width: 100%;
  height: 50px;
}
#join-padding {
  padding-left: 0px;
  padding-right: 0px;
}
#join-padding1 {
  padding-left: 0px;
  padding-right: 0px;
}
#last-margin {
  margin-top: 30px;
  width:100%;
}
#birth {
  width: 120%;
  border-radius: 5px 0 0 5px;
}
