@font-face {
  font-family: Comic Sans MS;
}
body {
  font-family: Comic Sans MS;
}
.container {
  margin: 0px 5%;
  }
.header {
  height: 60px;
  position: relative;
  padding: 0;
  text-align: center;
  line-height: 60px;
}
.outer {
  margin-top: 10px;
display: table;
width: 100%;
height: 100%;
}
.inner {
display: table-cell;
vertical-align: middle;
text-align: center;
}
.select {
  text-decoration:none !important;
  text-decoration:none;
  margin: 0 0 0 0;
}
.btn-danger {
  background-color: #d17171;
}
.btn-danger:hover{
  background-color: #d17171;
}
.test {
  background-color: #d17171;
  color:white;
  height: 40px;
}
.btn {
  border: 1px solid #d17171;
  width:50%;
  height: 40px;
}
.btn-group {
  width:100%;
}
.col-xs-2 {
  padding-left: 0px;
  padding-right: 0px;
  width: 25%;
}
.form-control {
  height: 50px;
}
.row {
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}
#footer-last-tomato {
  margin:0%;
}
#logo a {
  color: #d17171;
  font-weight: bold;
  text-decoration: none;
  line-height: 60px;
}
#join-margin {
  margin-top: 10px;
}

#join-date {
  width: 100%;
  height: 50px;
}
#join-mm {
  width: 100%;
  height: 50px;
}
#join-padding {
  padding-left: 0px;
  padding-right: 0px;
}
#join-padding1 {
  padding-left: 0px;
  padding-right: 0px;
}
#last-margin {
  margin-top: 30px;
  width:100%;
}
#birth {
  width: 120%;
}
