
  #map {
    width: 100%;
    height: 300px;
    position: relative;
    z-index: 1;
  }
.gym-search {
  display: inline-block;
  width: 75%; height: 34px;
  border: 3px solid #F7AC1A;
  background: white;
  position: relative;
  z-index: 2;
}
.input_text {
  width: 75%; height: 21px;
  margin: 6px 0 0 9px;
  border: 0;
  line-height: 21px;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  float:left;
}
.sch_smit {
  width: 20%; height: 34px;
  margin: 0; border: 0;
  vertical-align: top;
  background: #F7AC1A;
  color: white;
  font-weight: bold;
  border-radius: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.sch_smit:hover {
  background: #F7AC1A;
}


/**/


  .wrap{
    float: left;
    display: inline-block;
    height: auto;
    overflow-x: scroll;
    white-space:nowrap;
    /*overflow:hidden;*/
    width: 100%;
    display: inline;
  }
  .scrollBlind{
    height: 50px;
    overflow-x:scroll;
    font-size: 20px;
    width: 100%;
    min-width: 320px;
    max-width: 100%;
    overflow:hidden;
    display: inline;
  }


  .btn {
    border: 1px solid #F7AC1A;
    /*width: auto;*/
  }

  .btn-group {
    /*border : 5px solid blue;*/
    display: inline;

    /*float: left;*/
  }

  .btn-group>.btn {
    float: none;
  }
  .btn {
    /*border : 5px solid blue;*/
    /*border: 1px solid #d17171;*/
    width:20%;
    min-width: 100px;
    display: inline-block;
  }

  .btn-danger {
    background-color: #F7AC1A;
  }
  .btn-danger:hover{
    background-color: #F7AC1A;
  }
  .test {
    background-color: #F7AC1A;
    color:white;
    }

  .select {
    text-decoration:none !important;
    text-decoration:none;
    margin: 0 0 0 0;
  }
  .btn-danger {
    background-color: #F7AC1A;
  }
  .btn-danger:hover{
    background-color: #F7AC1A;
  }
  .test {
    background-color: #F7AC1A;
    color:white;
  }
  label {
    overflow:hidden;
  }
  #tkwls {
    width: 100%;
  }
