

.listDetail_search {
  width: 100%;
  height: 45px;
  padding: 5px;
  padding-top: 10px;
}

.searchInput {
  border: 3px solid #F7AC1A;
  display: inline-block;
  width: 75%;
  height: 34px;
}

.searchBtn {
  width: 23%;
  height: 34px;
  margin: 0; border: 0;
  vertical-align: top;
  background: #F7AC1A;
  color: white;
  font-weight: bold;
  cursor: pointer;
}


.listDetail_select {
  width: 100%;
  height: 90px;
  font-size: 1.6rem;
  font-weight: bold;

}

.selecting {
  text-align: center;
  width: 32%;
  padding: 5px;
  background-color: white;
  border: 0;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sel {
  border-bottom: 2px #F7AC1A solid;
}

.select01 {
  width: 100%;
  height: 45px;
  padding: 5px;
}

.select02 {
  width: 100%;
  height: 45px;
  padding: 5px;
}

.listBtn0, .listBtn1{
  border: 3px solid #F7AC1A;
  font-size: 1.8rem;
  background-color: white;
  border: 0px solid;
  width: 13%;
  height: 35px;
}

.listDetail_contents {
  /*border: 1px solid green;*/
  width: 100%;
  height: 400px;
  padding: 5px;
}

.listDetail_contents > .sportList{
  border: 1px solid blue;
  width: 100%;
  height: 100%;
  padding: 5px;
  display: none;
}

.listDetail_contents > .sportMap{
  /*border: 1px solid red;*/
  width: 100%;
  height: 100%;
  padding: 5px;
}

#map {
  width: 100%;
  height: 100%;
}
