/*iphone5~6*/
@media (min-device-width: 320px) and (max-device-width: 375px) {
  html {
    font-size: 10px;
  }

}
/*iphone plus*/
@media (min-device-width: 375px) and (max-device-width: 767px) {
  html {
    font-size: 14px;
  }
}
body {
  width: 100%;
  height: 100%;
  background-color: #f7ac1a;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

input::placeholder {
  color: white;
}
input:focus {
  outline: none;
}

a:link {color: white; text-decoration: none;}
a:visited {color: white; text-decoration: none;}
a:hover {color: white; text-decoration: none;}
a:active {color: white; text-decoration: none;}

.login-container .inner-logo {
  padding: 0 20%;
  margin-top: 5%;

}

.inner-logo .bombee {
  display: inline-block;
  width: 100%;
}

.input-idpw {
  padding: 3% 5% 0 5%;
  position: relative;
}

.input-idpw > input {
  border: 0px;
  border-radius: 0px;
  border-bottom: 2px solid white;
  background-color: rgba(255, 255, 255, 0);
  padding-left: 2%;
  padding-top: 5%;
  font-size: 1.6rem;
  width: 100%;
  height: 60px;
}

.input-idpw .signin {
  position: absolute;
  top: 75%;
  left: 40%;
  color: white;
  background-color: black;
  font-size: 2rem;
}

.send-btn {
  padding: 10% 32% 2% 32%;
}
.send-btn .send {
  width: 100%;
}

.login-container .forgetPW {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
}
.login-container .bottom {
  margin: 4% 0; 
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  color: white;
}
.other-login {
  padding-left: 7%;
  padding-right: 7%;
  margin-top: 45%;
  position: relative;
}

.other-login > div {
  display: inline;
}

.left-btn .kakao-img {
  width: 49%;
}
.right-btn .facebook-img {
  width: 49%;
}
.other-login .kakao {
  position: absolute;
  top: 10%;
  left: 12%;
  width: 20%;
  line-height:2.1rem;
  color: black;
  background-color: #fae100;
  font-size: 1.7rem;
  font-weight: 600;
}
.other-login .facebook {
  position: absolute;
  top: 10%;
  text-align: right;
  line-height:2.1rem;
  right: 12%;
  width: 20%;
  color: white;
  background-color: #3b5998;
  font-size: 1.7rem;
  font-weight: 600;
}
/**/
