.main-container > .body-outer {
  display: block;
  /*position: absolute;*/
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align: center;
}
.body-inner img{
  display: block;
  margin: 0 auto;
  vertical-align: middle;
  width: 100%;
}
