.main-container > .body-outer {
  display: block;
  /*position: absolute;*/
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align: center;
}
.body-outer{
  z-index: 1;
  display: block;
  margin: 0 auto;
  vertical-align: middle;
  width: 100%;
  opacity: 0.6;
}
.body-inner {
  position: relative;
}

.body-inner .aa1 {
  position: absolute;
  z-index: 3;
  margin: 105px 0 0 47px;
}

.body-inner .aa2 {
  position: absolute;
  z-index: 3;
  margin: 300px 0 0 155px;
}

.body-inner .bb {
  /*position: absolute;*/
  z-index: 2;
}
svg{
  position: absolute;
  width:50%;
  z-index: 2;
}
polygon {
  fill: white;
  stroke: white/*#f7ac1a*/;
  stroke-width:3;
  fill-opacity: 0;
  /*fill-rule: evenodd;*/
}

.main-container .side1 {

  background-img: '../image/tt2.png';
}

.main-container .side2 {
  margin: 279px 0px 0px 160px;
}






















/**/
