.main-container {
  position: relative;
}
.main-container .header {
  z-index: 3;
}
.body-img{
  position: fixed;
  top: 0;
  z-index: 0;
  display: block;
  margin: 0 auto;
  vertical-align: middle;
  width: 100%;
  opacity: 0.6;
}
.body-inner {
  position: relative;
}

.body-inner .meeting {
  position: absolute;
  z-index: 3;
  margin: 105px 0 0 47px;
}

.body-inner .management {
  position: absolute;
  z-index: 3;
  margin: 300px 0 0 155px;
}

.body-img {
  margin: 1px;
  /*position: absolute;*/
  z-index: 2;
}
.sky {
  position: absolute;
  z-index: 3;
}

.main-container .side1 {

  background-img: '../image/tt2.png';
}

.main-container .side2 {
  margin: 279px 0px 0px 160px;
}






















/**/
