/*iphone5*/
@media (min-device-width: 320px) and (max-device-width: 374px) {
  html {
    font-size: 10px;
  }
	.matching-container {
		height: 343px;
    margin-top: 50%;
	}
}
/*iphone6*/
@media (min-device-width: 375px) and (max-device-width: 413px) {
  html {
    font-size: 12px;
  }
	.matching-container {
		height: 425px;
    margin-top: 46%;
	}
  .dateStart {
    height: 32px;
  }
}
/*iphone6 plus*/
@media (min-device-width: 414px) and (max-device-width: 767px) {
  html {
    font-size: 14px;
  }
	.matching-container {
		height: 460px;
    margin-top: 44%;
	}
  .dateStart {
    height: 34px;
  }
}

.matchBtn {
  border: 1px solid red;
}
.matching-container {
	/*display: none;*/
	position: absolute;
	background-color: #f3f3f3;
	width: 85.5%;
	height: 57%;
	top: 0;
	left: 7.25%;
	border-radius: 10px;
	padding: 2% 2% 0 2%;
	z-index: 20;
}

.matching {
	/*display: none;*/
  display: inline-block;
  height: 100%;
  width: 100%;
  top: 20%;
}

.promotion-container {
  background-color: white;
  overflow-x:hidden;
  overflow-y:auto;
  width: 100%;
  height: 72%;
  top: 0;
  border-radius: 10px;
}

.promotion-list {
  position: relative;
  border-top: 1px solid silver;
  height: 27%;
  overflow: hidden;
}

.selectPromotion {
	border: 2px solid #f7ac1a;
}

.promotion-list:first-child {
  border: none;
  border-radius: 10px 10px 0 0;
}

.promotion-list:last-child {
  border-radius: 0 0 10px 10px;
}

.promotion-img {
  display: inline-block;
  width: 40%;
  overflow: hidden;
}

.promotion-img img {
  width: 100%;
}

.promotion-name,
.promotion-startDate,
.promotion-endDate {
  position: absolute;
  margin-left: 2%;
  font-size: 1.1rem;
}

.promotion-name {
  top: 10%;
  font-size: 1.4rem;
  font-weight: 800;
}

.promotion-startDate {
  top: 50%;
}

.promotion-endDate {
  top: 50%;
  left: 69%;
}

.matchingBtn {
	position: absolute;
	width: 50%;
	font-size: 1.4rem;
	font-weight: bold;
	background-color: #f7ac1a;
	border-radius: 10px;
	bottom:3.5%;
	left: 25%;
}

.matching-date {
  position: relative;
}

.matching-start-date {
  position: absolute;
  width: 55%;
  display: inline-block;
}

.calendar {
  position: absolute;
  left: 11%;
  margin-top: 9%;
  font-size: 1.4rem;
}

.dateStart {
  position: absolute;
  left: 24.5%;
  margin-top: 5.8%;
  width: 90%;
  padding-left: 2%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.period {
  position: absolute;
  width: 30%;
  right: 5.5%;
  margin-top: 3%;
  display: inline-block;
}

.backscreen {
	position: absolute;
	top: 0;
	display: none;
	height: 100vh;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 15;
}
