*{
  font-family: sans-serif;
}

.menu-header  a:link {color: white; text-decoration: none;}
.menu-header  a:visited {color: white; text-decoration: none;}
.menu-header  a:hover {color: white; text-decoration: none;}
.menu-header  a:active {color: white; text-decoration: none;}

#mySidenav {
  position: fixed;
  top: 0px;
  background-color: #2b3342;
  display: none;
  width: 100%;
  height: 100%;
  color: white;
  overflow: scroll;
  z-index: 9999;
}

.sidenav .menu-header {
  height: 74px;
  background: white;
}
.font-login {
  color: #2b3342;
  font-size : 3.5rem;
  display: inline-block;
  float:left;
  margin: 17px 10px;
}
.btn-useinfo-close > .font-info {
  display: inline-block;
  margin-left: 11%;
}


.font-info{
  font-size:2rem;
  color: #2b3342;
}
.login-form {
  width: 70%;
  display: inline-block;
}
.info {
  font-size: 2rem;
  width: 68px;
  display: inline-block;
  box-sizing: border-box;
  float:right;
  padding: 20px 10px 0 0;
}

.user-nic {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: 'UhBeenMyHusband';
  color: #2b3342;
  line-height: 74px;
}


.footer-login {
  float: left;
  background-color: #d17171;
  color: white;
}
.footer-login:active{
  color: white;
}
.footer-login:active:after{
  color: white;
}
.footer-qna {
  float: right;
  background-color: white;
  color: #2b3342;

}
.menu-footer {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.menu-footer a {
  font-size: 1.4rem;
  border-radius: 0;
  width: 50%;
}
.footer-login:hover {
  color: white;
}

.detail-list a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #2b3342;
  display: block;
  transition: 0.3s;
}

.list-font {
  font-weight: lighter;
  font-size: 1.6rem;
  color:white;
}

.list-font:hover {
  text-decoration: none;
  font-size: 1.6rem;
  color:white
}
.list-font:focus {
  text-decoration: none;
  font-size: 1.6rem;
  color:white
}
.panel-group > *{
  border: 0;
  background-color: white;
}

.panel-default {
  height: 100%;
}

.sidenav .panel-default > .panel-heading {
  height: 15%;
  border:1px solid #2b3342;
  color: white;
  background-color: #2b3342;
  border-radius: 0px;

}

.sidenav .panel-body {
  /*background-color: #f2d9d9;*/
  text-align: right;
  width: 100%;
}

.panel-body-detail:hover {
  border-bottom: 3px solid white;
}
.panel-body-detail {
  width: 100%;
  color:white
}
.panel-body > a {
  font-size: 1.6rem;

}
.panel-group .panel+.panel {
  margin: 0;
  color: #313131;
  background-color:white;
  border-radius: 0px
}
