

body {
  margin: 0px;
  padding: 0

}

.projectAdd-container {
  padding: 0;
}


.projectAdd-top {
  width: 100%;
  margin: 0;
  font-size: 1.6rem;
  text-align: center;
  line-height: 45px;
  background-color: #D17171;
  height: 45px;
  color: white;
}


.projectAdd-top div:hover {
   cursor:pointer;
}

.projectAdd-top > div {
  height: 100%;
  /*border:green solid 1px;*/
}

.projectAdd-top > .topClose {
  width: 15%;
  float:left;
  font-size: 3rem;
}

.projectAdd-top > .temp {
  width: 35%;
  float:left;
}

.projectAdd-top > .tempSave {
  width: 25%;
  float:right;
}

.projectAdd-top > .save {
  width: 15%;
  float:right;
}

.temp > .tempText {
  background-color:rgba(255,255,255,0);
  border: 2px white solid;
  padding: 1px 10px;
  border-radius: 2.5rem;
  line-height: 25px;
  color: white;
}

.projectAdd-gym,.projectAdd-date, .projectAdd-price, .projectAdd-title,.projectAdd-date {
  width: 100%;
  margin: 0;
  font-size: 1.6rem;
  text-align: center;
  height: 45px;
  border-bottom: 1px #ccc solid;

}

.projectAdd-gym > .selectType {
  /*border: 1px solid blue;*/
  width: 48%;
  height: 100%;
  float: left;
  margin-left: 5px;
  padding-left: 15px;
}

.projectAdd-gym > .selectPurpose {
  width: 48%;
  height: 100%;
  float: right;
  margin-right: 5px;
  padding-left: 15px;
}

 .projectAdd-gym > select {
  width: 250px;
  height: 35px;
  background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%;
  border: none;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

 .projectAdd-container > input {
  -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
  background: <i class="fa fa-calendar" aria-hidden="true"></i>;
}

.projectAdd-date > .dateStart {
  border: 0;
  width: 47.6%;
  height: 85%;
  float: left;
  margin: 3px 3px;
  margin-left: 5px;
  padding: 6px 12px;

}

.projectAdd-date > .dateEnd {
  border: 0;
  width: 47.6%;
  height: 85%;
  float: right;
  margin: 3px 3px;
  padding: 6px 12px;
}

.projectAdd-price > .priceIn {
  border: 0;
  width: 97%;
  height: 85%;
  float: left;
  margin: 3px 3px;
  margin-left: 5px;
  padding: 6px 12px;
}

.projectAdd-title > .titleIn {
  border: 0;
  width: 97%;
  height: 85%;
  float: left;
  margin: 3px 3px;
  margin-left: 5px;
  padding: 6px 12px;
}

.projectAdd-textArea {
  /*border:1px red solid;*/
  margin: 1%;
  height: 330px;
  width: 97%;
}

.ui-datepicker{ z-index: 9999 !important;}
