@media (min-device-width: 320px) and (max-device-width: 374px) {
	.date-start-end .promotion-icon {
  	font-size: 1.6rem;
	}
	.date-start-end span {
		font-size: 1.4rem;
	}
}

@media (min-device-width: 375px) and (max-device-width: 413px) {
	.date-start-end .promotion-icon {
  	font-size: 1.8rem;
	}
	.date-start-end span {
		font-size: 1.6rem;
	}
}
@media (min-device-width: 414px) and (max-device-width: 735px)  {
	.date-start-end .promotion-icon {
  	font-size: 1.8rem;
	}
	.date-start-end span {
		font-size: 1.6rem;
	}
}

  .swiper-container {
      width: 100%;
      height: 100%;
  }
  .swiper-slide {
      text-align: center;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      overflow: hidden;
  }
/* 여기까지 swiper */

.promotionDetail_container {}

.promotion-icon {
  width: 10%;
  height: 100%;
  float: left;
}

.promotionDetail_companyAdress .promotion-icon  {
  margin-right: -3px;
  margin-left: 3px;
}

.promotionDetail_image {
  width: 100%;
  height: 40vh;
  margin-bottom: 13px;
}

.promotionDetail_In {
  /*border: 1px green solid;*/
  margin: 0px 15px 15px 15px;
  font-size: 1.3rem;
}

.promotionDetail_Adress #address {
	font-weight: 500;
	font-size: 1.4rem;
}
.promotionDetail_Adress #company {
	font-size: 2rem;
	font-weight: 300;
}
.addressPanel #map {
	width:100%;
	height:250px;
	margin-bottom:10px;
}
.promotionDetail_image img {
  height: 100%;
}

.promotionDetail_title {
  /*border-bottom: 1px #ccc solid;*/
  padding: 10px;
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
}

.promotionDetail_Date{
	position: relative;
  border-bottom: 1px #ccc solid;
  width: 100%;
  float: left;
  padding: 15px;
}

.date-start-end {
  float: left;
  width: 100%;
}

.date-start-end .promotion-icon {
  width: 26%;
}

.date-start-end span {
  margin-top: 2%;
  display: inline-block;
}

.date-start-end .date-slash {
	font-size: 3.3rem;
  position: absolute;
  top: -4px;
  left: 47%;
  text-align: center;
  color: #ccc;
  font-weight: 100;
  display: inline-block;
}

.date-start {
  font-weight: 200;
  float: left;
  width: 40%;
}

.date-end {
  font-weight: 200;
  float: right;
  width: 40%;
  text-align: right;
}

.map-icon {
  font-size: 2rem;
}

.promotionDetail_companyAdress {
  border-bottom: 1px #ccc solid;
  padding: 15px;
  width: 100%;
  float: left;
}

.promotionDetail_Adress {
  width: 79%;
  float: left;
}
.promotionDetail_Adress_Arrow {
  color: #f7ac1a;
  margin: 2% 0 0 0;
  float: right;
  width: 8%;
}

.promotionDetail_contents {
  width: 100%;
  height: 100%;
  padding: 15px;
  margin-bottom: 14%;

}

.promotionDetail_container > .footer {
  z-index: 5;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8%;
  font-weight: bold;
  text-align: center;
  background-color: #3f3f3f;
  color: white;
}

.footer-price {
  padding-left: 15px;
  padding-top: 3.3%;
  width: 35%;
  float:left;
  color: black;
}
.footer-price {
  text-shadow: -2px 0 #F7AC1A, 0 2px #F7AC1A, 2px 0 #F7AC1A, 0 -2px #F7AC1A;
  -moz-text-shadow: -2px 0 #F7AC1A, 0 2px #F7AC1A, 2px 0 #F7AC1A, 0 -2px #F7AC1A;
  -webkit-text-shadow: -2px 0 #F7AC1A, 0 2px #F7AC1A, 2px 0 #F7AC1A, 0 -2px #F7AC1A;
}

.footer-price * {
  font-size: 1.5rem;
}

.footer-click {
  width: 65%;
  float:left;
}

.footer-click > p{
  padding-top: 3.2%;
  font-size: 2rem;
  border: 0;
}

.promotionDetail_container .addressPanel {
    margin: 0;
    padding: 0 1px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
