@media (min-device-width: 320px) and (max-device-width: 374px) {
  html {
    font-size: 11px;
  }
  #swal2-content {
    font-weight: 400;
    font-size: 17px
  }
  #swal2-title {
    font-size: 23px;
  }
  .arrowStart, .arrowEnd {
    right: 8px;
  }
  .title, .date, .price {
    height: 51px;
  }
  .company_address {
  	height: 86px;
  }
  .company_address, 
.title,
.date,
.price,
.company_address {
	padding: 5% 5%;
}
}

@media (min-device-width: 375px) and (max-device-width: 413px) {
  html {
    font-size: 13px;
  }
  #swal2-content {
    font-weight: 400;
    font-size: 19px
  }
  #swal2-title {
    font-size: 25px;
  }
  .arrowStart, .arrowEnd {
    right: 16px;
  }
  .title, .date, .price {
    height: 64px;
  }
  .company_address {
  	height: 105px;
  }
  .company_address, 
.title,
.date,
.price,
.company_address {
	padding: 5% 5%;
}
}

@media (min-device-width: 414px) and (max-device-width: 735px) {
  html {
    font-size: 14px;
  }
  #swal2-content {
    font-weight: 400;
    font-size: 21px
  }
  #swal2-title {
    font-size: 30px;
  }
  .arrowStart, .arrowEnd {
    right: 20px;
  }
  .title, .date, .price {
    height: 68px;
  }
  .company_address {
  	height: 120px;
  }
  .company_address, 
.title,
.date,
.price,
.company_address {
	padding: 5% 5%;
}
}


/* 전체적인 구조
.projectAdd-container
  |- .projectAdd-top
  |- .projectAdd-In
*/

div>input {
  font-size: 1.3rem;
}

.fa-fontsize {
  font-size: 1.3rem;
}

.projectAdd-container {
  padding: 0;
  /* float:left; */
}

.projectAdd-In .title, .date, .price, .company_address, .contents {
  font-size: 1.2rem;
}

.projectAdd-In {
  margin: 15px;
  height: 100%;
}


/* projectAdd-top 시작*/

.projectAdd-top {
  width: 100%;
  margin: 0;
  font-size: 1.3rem;
  text-align: center;
  line-height: 45px;
  background-color: #3f3f3f;
  height: 45px;
  color: white;
}

.topClose {
  width: 15%;
  float: left;
}

.save {
  width: 20%;
  float: right;
}


/* projectAdd-top 끝*/


/* imageAdd 시작*/

.imageAdd {
  width: 100%;
  height: 20vh;
  /*border: green 1px solid;*/
}

.imageAdd input[type="file"] {
  display: none;
}

.imageAdd-plus {
  text-align: center;
  width: 30%;
  height: 80%;
  border: black 3px dashed;
  margin: 10px 10px 10px 0px;
  /*background-color: yellow;*/
  float: left;
}

.imageAdd-image {
  width: 30%;
  height: 80%;
  overflow: hidden;
  /*border: black 3px solid;*/
  margin: 10px 10px 10px 0px;
  /*background-color: yellow;*/
  position: relative;
  float: left;
}

.AddCamera {
  padding: 25%;
}

.imageAdd img {
  height: 100%;
  /*width: 100%;*/
  position: relative;
}

.AddRemove, .selFile {
  position: absolute;
  right: 5%;
  top: 5%;
}

.imageAdd p {
  font-size: 1.2rem;
  margin: 0px;
  font-weight: bold;
  text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
  -moz-text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
  -webkit-text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
}


/* imageAdd 끝*/

.promotion-icon {
  width: 8%;
  float: left;
}

.companyAddress #company {
  font-weight: 600;
  font-size: 1.4rem;
  margin: 0px;
}

.companyAddress #address {
  font-size: 1rem;
  margin: 0px;
}

.company_address .promotion-icon {
  margin-right: -3px;
  margin-left: 3px;
}

.date .promotion-icon {
  width: 17%;
  float: left;
}

.projectAdd-container input {
  border: 0;
  padding: 0;
}

.title {
  border-bottom: 1px #ccc solid;
}

.titleInput {
  width: 90%;
}

.date {
  border-bottom: 1px #ccc solid;
  padding-right: 0;
}

.dateStart, .dateEnd {
  width: 78%;
}

.start-date {
  width: 50%;
  float: left;
  padding-right: 15px;
  position: relative;
}

.end-date {
  /*border: 1px red solid;*/
  width: 50%;
  float: left;
  padding-right: 15px;
  position: relative;
}

.arrowStart, .arrowEnd {
  font-size: 1.7rem;
  top: -20%;
  float: right;
  position: absolute;
}

.price {
  border-bottom: 1px #ccc solid;
}

.priceIn {
  width: 90%;
}

.company_address {
  border-bottom: 1px #ccc solid;
  float: left;
  width: 100%;
}

.companyAddress {
  font-weight: 200;
  width: 85%;
  float: left;
  margin-right: 5%;
}

.title-select {
  border: 3px solid #F7AC1A;
}

.address {
  font-size: 1.3rem;
}

.contents {
  height: 200px;
  padding: 12px;
  float: left;
  width: 100%;
}

.promotionText {
  /*background-color: #F0F0F0;*/
  font-size: 1.4rem;
  border: white;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  resize: none;
}

.promotionText::-webkit-input-placeholder {
  font-size: 1rem;
}

.titleInput-updateColor, .dateStart-updateColor, .dateEnd-updateColor, .priceIn-updateColor, .promotionText-updateColor {
  color: #a9a9a9;
}

.fa-2x {
  text-align: center;
}


/* swiper */

.swiper-container {
  width: 100%;
  height: 100%;
  float: left;
}

.swiper-slide {
  /*      border: 1px red solid; */
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 35%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #a9a9a9;
}

.ui-datepicker {
  z-index: 9999 !important;
}


/* sweetAlert2 시작 */

.swal2-container button {
  margin-top: 8px;
  width: 46%;
  height: 25%;
}

.swal2-container .swal2-confirm {
  margin: 0px 5px 0;
  float: right;
}

.swal2-container .swal2-cancel {
  margin: 0px 5px 0;
  float: left;
}

.swal2-icon {
  margin: 20px auto 15px;
}


/* sweetAlert2 끝 */
