/*iphone5*/
@media (min-device-width: 320px) and (max-device-width: 374px) {
  html {
    font-size: 10px;
  }
  .requested-list {
    height: 55px;
  }
  .requested-info {
    height: 55px;
  }
  .requested-list .smile-size {
    height: 41.7px;
  }
}
/*iphone6*/
@media (min-device-width: 375px) and (max-device-width: 413px) {
  html {
    font-size: 12px;
  }
  .requested-list {
    height: 64px;
  }
  .requested-info {
    height: 64px;
  }
  .requested-list .smile-size {
    height: 48.7px;
  }
}
/*iphone6 plus*/
@media (min-device-width: 414px) and (max-device-width: 767px) {
  html {
    font-size: 14px;
  }
  .requested-list {
    height: 71px;
  }
  .requested-info {
  	height: 71px;
  }
  .requested-list .smile-size {
    height: 53.7px;
  }
}

.user-img-size {
	float: left;
  width: 13%;
  margin: 2%;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 50%;
  overflow: hidden;
}

.user-img-size img {
  width: 100%;
  height: 100%;
}

.requested-list .smile-size {
	float: left;
  font-size: 3.5rem;
  width: 13%;
  padding: 1%;
  margin: 2%;
  box-sizing: border-box;
  height: 73%;
  text-align: center;
  line-height: .95;
  background-color: #f7ac1a;
  color: white;
  border-radius: 50%;
}

.requested-list {
  position: relative;
  font-size: 1.1rem;
  width: 100%;
}

.requested-list:first-child {
  margin-top: 1%;
  width: 100%;
  border: none;
}

.requested-info {
	position: relative;
	width: 52.5%;
	left: 18%;
  border-bottom: 1px solid #eee;
}

.requested-list .user-name,
.requested-list .requested-date,
.requested-list .requested-content,
.requested-list .wish-date,
.requested-list .wish-period {
	position: absolute;
}

.requested-info .user-name {
  top: 10%;
  font-weight: 800;
  left: 0;
}

.requested-list .requested-date {
	top: 12%;
  right: 5%;
  color: #777;
  font-size: .9rem;

}
.requested-list .requested-content {
  top: 42%;
  left: 0;
  font-size: 1.1rem;
  color: #777;
}

.requested-list .wish-date {
	color: #777;
  top: 73%;
  left: 0;
  font-size: 1rem;
}

.requested-list .wish-period {
	color: #777;
  top: 73%;
  right: 5%;
  font-size: .9rem;
}

.requested-list .btn-form {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  border-bottom: 1px solid #eee;
}

.requested-list .accept,
.requested-list .refuse {
  font-weight: 600;
  width: 50%;
  height: 100%;
  line-height: 3.5;
  float: left;
  border-radius: 0;
}

.requested-list .accept {
  color: gray;
  background-color: #ddd;
}

.requested-list .refuse {
	background-color: #f7ac1a;
	color: white;
}
