.container {
  width: 414px;
}


.dnawlrdu {
  margin: 0% 0% 0% 0%;
  float: left;
  position: absolute;
  left: 0px;
  top : 0px;
}


.sl {
  margin-left: 2%;
  width: 98%;
  height: 150px;
  overflow: hidden;
  overflow-x: scroll;
}
.sl1 {
  width: 2500px;
}
.sl-pic {
  width:9.7%;
  height: 150px;
  display: inline-block;
  overflow: hidden;
}
.ok {
  background-color: blue;
}

.info {
  width : 80%;
  margin: -30% 0% 0% 10%;
  height: 400px;
  overflow:visible;
  /*border: 1px brown solid;*/
}
.proro-pic {
  margin-top: 10%;
  display: inline-block;
  /*padding-left: 100px;*/
}
.proro-pic1 {
  z-index: 0;
  margin-top: -10%;
  /*display: inline-block;*/
  /*padding-left: 100px;*/
}
.cont-box{
width:390px;height:0px;
border-right:414px solid transparent; /*border의 성질을 이용해 오른쪽테두리만 투명으로 만든다. */
border-top:200px solid #F7AC1A; /*border를 사용해 두께를 만든다.*/
float: left;
}
.cont-box1{
width:390px;height:0px;
border-left:414px solid transparent; /*border의 성질을 이용해 오른쪽테두리만 투명으로 만든다. */
border-bottom:200px solid #F7AC1A; /*border를 사용해 두께를 만든다.*/
margin-top: -40%;
}
.t-name {
  z-index: 5;
  display: inline-block;
  /*position: absolute;*/
  float: left;
  margin: -45% 0% 0% 2%;
  font-weight: bold;
}
.cb2 {
  margin-top: 0%;
}
/*.outer {
  float: left;
}*/
.proro-pic {
  width: 100%;
}
.tab-wrap * {
	margin: 0px;
	padding: 0px;
}
.tab-wrap {
	position: relative;
	padding-top: 30px;
}
.tab-wrap li {
	z-index: 2;
	position: absolute;
	top: 0px;
	width: 100px;
	height: 30px;
	text-indent: -9999%;
}
.tab-wrap li:nth-of-type(1) {
	left: 0px;
}
.tab-wrap li:nth-of-type(2) {
	left: 100px;
}
.tab-wrap li a {
	display: block;
	width: 100%;
	height: 100%;
}
.tab-wrap article h1 {
	position: absolute;
	top: 0px;
	width: 100px;
	height: 30px;
	line-height: 30px;
	box-sizing: border-box;
	border: 1px solid #ddd;
	text-align: center;
	font-size: 12px;
}
.tab-wrap article p {
	border: 1px solid #ddd;
	padding: 30px;
}
.tab-wrap article:target h1 {
	background-color: yellow;
}
.tab-wrap article:nth-of-type(1) h1 {
	left: 0px;
}
.tab-wrap article:nth-of-type(2) h1 {
	left: 100px;
}
.tab-wrap article:nth-of-type(1) p {
	display: block;
}
.tab-wrap article p {
	display: none;
}
.tab-wrap article:target p {
	display: block;
}
.d-bottom-Btn {
  padding-bottom: 6%;
  margin-top: 5%;
  margin-left: 2%;
  width: 100%;
}
.pro-qa-Btn {
  width: 34%;

}
.pro-add-Btn {
  margin-left: 1%;
  width: 34%;
}
.pro-t-Btn {
  margin: -2% 0% 0% 1%;

  width: 25%;
}

th {
  text-align: center;
  background-color:#F7AC1A;
  width: 13.5%;
}
tr {
  height: 30px;
}
td {
  height: 30px;
}

.pro-time {
  text-align: center;
  background-color: grey;
}
.pro-time-off {
  border : 1px solid #e6e6e6;
}
.t-t-table {
  margin-top: 3%;
  display : none;
}
.t-text {
  /*border: 1px solid red;*/
  width : 58%;
  font-weight: bold;
  display: inline-block;
  font-size: 2.5rem;
  margin: 0% 0% 0% 5%;
}
.t-map {
  /*border: 1px solid red;*/
  margin: -8% 7% 0% 0%;
  display: inline-block;
  width : 30%;
  float: right;
}
.t-map-pic {
  width : 100%;

}
  .t-spono{
    /*border: 1px solid red;*/
    margin : -45% 5% 0% 0%;
    float: right;
  }
