/*iphone5*/
@media (min-device-width: 320px) and (max-device-width: 374px) {
  html {
    font-size: 10px;
  }
  .management-container .promotion-img,
  .management-container .management-img {
    width: 177px;
  }
  .management-container .profile-img,
  .management-container .account-img {
    width: 109px;
  }
}
/*iphone6*/
@media (min-device-width: 375px) and (max-device-width: 413px) {
  html {
    font-size: 12px;
  }
  .management-container .promotion-img,
  .management-container .management-img {
    width: 210px;
  }
  .management-container .profile-img,
  .management-container .account-img {
    width: 130px;
  }
}
/*iphone6 plus*/
@media (min-device-width: 414px) and (max-device-width: 767px) {
  html {
    font-size: 14px;
  }
  .management-container .promotion-img,
  .management-container .management-img {
    width: 230px;
  }
  .management-container .profile-img,
  .management-container .account-img{
    width: 140px;
  }
}
.management-container:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.5;
    background-color: gray;
    background-image: url('../image/M-Image/m-t06.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.management-all-menu {
  position: relative;
  z-index: 2;
  /*float: inherit;*/
  margin-top: 45%;

}

.promotion {
	position: absolute;
	margin: -29% 0% 0% 4%;
  z-index: 4;
}
.profile {
	position: absolute;
  margin: 0% 0% 0% 56%;
  z-index: 3;
}
.account {
	position: absolute;
  margin: 25.5% 0% 0% 11%;
  z-index: 2;
}
.management {
	position: absolute;
  margin: 35.5% 0% 0% 41%;
  z-index: 1;
}

#bg-img {
	content='';
	position: absolute;
  background-color:black;
  top: 0;
  width: 100%;
  height: 100%;
  opacity:0.75;
}
