/*iphone5*/
@media (min-device-width: 320px) and (max-device-width: 374px) {

}
/*iphone6*/
@media (min-device-width: 375px) and (max-device-width: 413px) {
  .main-container #meeting,
  .main-container #management {
    width: 199px;
  }
  #bg-img {
    height: 667px;
  }
  #body-img {
    height: 667px;
  }
}
/*iphone6 plus*/
@media (min-device-width: 414px) and (max-device-width: 767px) {
  
  }
}


.pro-container {
  height: 100%;
}

.pro-name {
  padding-left: 4%;
  width: 45%;
  border: silver;
  margin: 0% 3%;
  color: black;
  height: 45px;
  display: inline-block;
  outline: none;
  border-bottom: 2px #F7AC1A solid;
  -webkit-border-bottom: 2px #F7AC1A solid;
  -moz-border-bottom: 2px #F7AC1A solid;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
  z-index: 9;

}
.pro-place {
  margin-left: 3%;
  display: inline-block;
  padding-left: 4%;
  border: silver;
  background-color: white;
  color: black;
  height: 45px;
  outline: none;
  display: inline-block;
  border-bottom: 2px #F7AC1A solid;
  -webkit-border-bottom: 2px #F7AC1A solid;
  -moz-border-bottom: 2px #F7AC1A solid   ;
  -webkit-border-radius:0px   ;
  -moz-border-radius:0px   ;
  appearance: none   ;

}
.ok {
  background-color: blue;
}

#pro-place-1 {
  width: 36%;
}

.pro-place-2 {
  width: 35%;
}
.pro-place-3 {
  width: 93%;
}
.pro-place-4 {
  width: 93%;
}
.pro-place-Btn {
  margin : 4% 0% 0% 6%;
  display: inline-block;
  width: 9%;
}
.pro-ttable-no {
  width:50px;;
}
.pro-time {
  border: none;
}

.click {
  background-color: #32CD32;
}
.pro-img {
  opacity: 0;
  position: absolute;
  width: 100%;
  cursor: pointer;
  border: 1px solid red;
  margin: -44% 0% 0% 0%;
  height: 183px;
}
.cont-box{
width:390px;height:0px;
border-right:414px solid transparent; /*border의 성질을 이용해 오른쪽테두리만 투명으로 만든다. */
border-top:200px solid #F7AC1A; /*border를 사용해 두께를 만든다.*/
float: left;
margin-top: -49%;
}
.cont-box1{
width:390px;height:0px;
border-left:414px solid transparent; /*border의 성질을 이용해 오른쪽테두리만 투명으로 만든다. */
border-bottom:200px solid #F7AC1A; /*border를 사용해 두께를 만든다.*/
margin-top: -40%;
}
#pro-select {
  margin: 0% 3%;
  padding-left: 4%;
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-bottom: 2px #F7AC1A solid;
  -moz-border-bottom: 2px #F7AC1A solid;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;

}
#a {
	padding: 10px;
	text-decoration: none;
	color: black;
	font-weight: bold;
	display: block;

	border-right: 30px solid transparent;
	border-bottom: 30px solid white;;

	height: 0;
	line-height: 50px;
}






#pro-type {

  display: inline-block;
  position: absolute;
  -webkit-border-bottom: 2px #F7AC1A solid;
  -moz-border-bottom: 2px #F7AC1A solid;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;

}

#box1 {
  width: 180px;
  height: 180px;
  border-radius: 50%;

  margin: 10% 0% 0% 0%;
  text-align: center;
  line-height: 200px;
}



#pro-type > select {
  padding-left: 15%;
  display: inline-block;
  width:153%;
  height: 45px;
  font-size : 1.6rem;
  color:black;
  border: none;
  border-bottom: 2px #F7AC1A solid;
  margin:0% 4%;
  outline: none;

}

#pro-dt {
  color: grey;
  margin:3% 7% 2% 7%;
  font-size : 1.6rem;
  -webkit-border-bottom: 2px #F7AC1A solid;
  -moz-border-bottom: 2px #F7AC1A solid;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
}
#pro-dd {
  width: 94%;
  font-size : 1.4rem;
  padding: 3%;
  margin:0% 3%;
  border: 2px #F7AC1A solid;
  -webkit-border-bottom: 2px #F7AC1A solid;
  -moz-border-bottom: 2px #F7AC1A solid;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
}

#open_nav_link {
  margin:0% 5% 0% 0%;
  display: inline-block;
  float: right;
  width: 10%;
}

 input {
  padding-left: 5%;
  outline: none !important;
  border: none;
  background-color: white !important;
}
input:focus {
  outline: none !important;
}
input:read-only {
  outline: none !important;
    background-color: white !important;
}
.pro-bottom-Btn {
  width: 100%;
  padding: 5% 0% 0% 10%;
}
/*.pro-view-Btn{
  width: 45%;
}*/
 .pro-save-Btn {
   width: 45%;
   margin : -3% 0% 0% 56%;
 }
