/*iphone5*/
@media (min-device-width: 320px) and (max-device-width: 374px) {
.cont-box {
    border-right: 320px solid transparent;
    border-top: 158px solid #F7AC1A;
    margin-top: -5.6%;
}
.cont-box1 {
     border-left:320px solid transparent; /*border의 성질을 이용해 오른쪽테두리만 투명으로 만든다. */
    border-bottom:155px solid #F7AC1A; /*border를 사용해 두께를 만든다.*/
    margin-top: -30%;
}
  #box1 {
  width : 40%;
    margin: 1% 0% 0% -18%;
  }
  .pro-img {
    margin-top:38%;
  }
  #pro-type > select {
    width: 117%;
  }
}
/*iphone6*/
@media (min-device-width: 375px) and (max-device-width: 413px) {
  .cont-box {
    border-right:375px solid transparent; /*border의 성질을 이용해 오른쪽테두리만 투명으로 만든다. */
    border-top:200px solid #F7AC1A; /*border를 사용해 두께를 만든다.*/
    margin-top: -5.3%;

}
.cont-box1 {
     border-left:375px solid transparent; /*border의 성질을 이용해 오른쪽테두리만 투명으로 만든다. */
    border-bottom:200px solid #F7AC1A; /*border를 사용해 두께를 만든다.*/
    margin-top: -34%;
}
  #box1 {
  margin: 4% 0% 0% -17%;
  }
  .pro-img {
    margin-top:38%;
  }
  #pro-type > select {
    width: 139%;
  }
}
/*iphone6 plus*/
@media (min-device-width: 414px) and (max-device-width: 767px) {
  .cont-box {
    margin-top: -5.3%;
    border-right:414px solid transparent; /*border의 성질을 이용해 오른쪽테두리만 투명으로 만든다. */
    border-top:200px solid #F7AC1A; /*border를 사용해 두께를 만든다.*/
}
  .cont-box1 {
    border-left:414px solid transparent; /*border의 성질을 이용해 오른쪽테두리만 투명으로 만든다. */
    border-bottom:200px solid #F7AC1A; /*border를 사용해 두께를 만든다.*/
    
    margin-top: -24%;
}
  #box1 {
    margin: 4% 0% 0% -15%; 
  }
  .pro-save-Btn {
  margin: -2% 0% 0% 44% !important;
  }
  #pro-type > select {
    width: 154%;
  }
}


.pro-container {
  height: 100%;
}

.pro-name {
  padding-left: 4%;
  width: 45%;
  border: silver;
  margin: 0% 3%;
  color: black;
  height: 45px;
  display: inline-block;
  outline: none;
  border-bottom: 2px #F7AC1A solid;
  -webkit-border-bottom: 2px #F7AC1A solid;
  -moz-border-bottom: 2px #F7AC1A solid;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
  z-index: 9;

}
.pro-place {
  margin-left: 3%;
  display: inline-block;
  padding-left: 4%;
  border: silver;
  background-color: white;
  color: black;
  height: 45px;
  outline: none;
  display: inline-block;
  border-bottom: 2px #F7AC1A solid;
  -webkit-border-bottom: 2px #F7AC1A solid;
  -moz-border-bottom: 2px #F7AC1A solid   ;
  -webkit-border-radius:0px   ;
  -moz-border-radius:0px   ;
  appearance: none   ;

}
.ok {
  background-color: blue;
}

#pro-place-1 {
  width: 36%;
}

.pro-place-2 {
  width: 35%;
}
.pro-place-3 {
  width: 93%;
}
.pro-place-4 {
  width: 93%;
}
.pro-place-Btn {
  margin : 4% 0% 0% 6%;
  display: inline-block;
  width: 9%;
}
.pro-ttable-no {
  width:50px;;
}
.pro-time {
  border: none;
}

.click {
  background-color: #32CD32;
}
.pro-img {
  opacity: 0;
  position: absolute;
  width: 100%;
  cursor: pointer;
  border: 1px solid red;
  height: 183px;
}

.cont-box{
  width : 100%;
  float: left;
}
.cont-box1{
width:100%;height:0px;
}


#pro-select {
  margin: 0% 3%;
  padding-left: 4%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-bottom: 2px #F7AC1A solid;
  -moz-border-bottom: 2px #F7AC1A solid;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;

}
#a {
  padding: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: block;

  border-right: 30px solid transparent;
  border-bottom: 30px solid white;;

  height: 0;
  line-height: 50px;
}






#pro-type {

  display: inline-block;
  position: absolute;
  -webkit-border-bottom: 2px #F7AC1A solid;
  -moz-border-bottom: 2px #F7AC1A solid;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;

}

#box1 {
  border-radius: 50%;
  text-align: center;
  line-height: 200px;
  position: absolute
}



#pro-type > select {
  padding-left: 15%;
  display: inline-block;
  height: 45px;
  font-size : 1.6rem;
  color:black;
  border: none;
  border-bottom: 2px #F7AC1A solid;
  margin:0% 4%;
  outline: none;

}

#pro-dt {
  color: grey;
  margin:3% 7% 2% 7%;
  font-size : 1.6rem;
  -webkit-border-bottom: 2px #F7AC1A solid;
  -moz-border-bottom: 2px #F7AC1A solid;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
}
#pro-dd {
  width: 94%;
  font-size : 1rem;
  padding: 3%;
  margin:0% 3%;
  border: 2px #F7AC1A solid;
  -webkit-border-bottom: 2px #F7AC1A solid;
  -moz-border-bottom: 2px #F7AC1A solid;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
}

#open_nav_link {
  margin:0% 5% 0% 0%;
  display: inline-block;
  float: right;
  width: 10%;
}

 input {
  padding-left: 5%;
  outline: none !important;
  border: none;
  background-color: white !important;
}
input:focus {
  outline: none !important;
}
input:read-only {
  outline: none !important;
    background-color: white !important;
}
.pro-bottom-Btn {
  width: 100%;
  padding: 5% 0% 0% 10%;
}

.pro-save-Btn {
  margin: -5% 0% 0% 44%;
  position: absolute;
   width: 45%;
}
