/*iphone5*/
@media ( min-device-width : 320px) and (max-device-width: 374px) {
	.cont-box {
		border-right: 320px solid transparent;
		border-top: 158px solid #F7AC1A;
		margin-top: -5.6%;
	}
	.cont-box1 {
		border-left: 320px solid transparent;
		/*border의 성질을 이용해 오른쪽테두리만 투명으로 만든다. */
		border-bottom: 155px solid #F7AC1A; /*border를 사용해 두께를 만든다.*/
		margin-top: -30%;
	}
	.cont-edit {
		height: 48px;
		line-height: 1.7;
		font-size: 2.5rem;
	}
	.cont-file .profile-img {
		height: 160px;
	}
	.pro-type .health-box {
		height: 34px;
	}
	.cont-profile {
		height: 160px;
	}
	.cont-box {
		top: 13.7%;
	}
}
/*iphone6*/
@media ( min-device-width : 375px) and (max-device-width: 413px) {
	.cont-box {
		border-right: 375px solid transparent;
		/*border의 성질을 이용해 오른쪽테두리만 투명으로 만든다. */
		border-top: 200px solid #F7AC1A; /*border를 사용해 두께를 만든다.*/
		margin-top: -5.3%;
	}
	.cont-box1 {
		border-left: 375px solid transparent;
		/*border의 성질을 이용해 오른쪽테두리만 투명으로 만든다. */
		border-bottom: 200px solid #F7AC1A; /*border를 사용해 두께를 만든다.*/
		margin-top: -34%;
	}
	.cont-edit {
		height: 56.2px;
		line-height: 1.6;
		font-size: 3rem;
	}
	.cont-file .profile-img {
		height: 187.5px;
	}
	.pro-type .health-box {
		height: 34px;
	}
	.cont-profile {
		height: 187.5px;
	}
	.cont-detail .zip-code,
	.cont-detail .address,
	.cont-detail .address-detail {
		width: 70%;
	}
	.cont-box {
		top: 12%;
	}
}
/*iphone6 plus*/
@media ( min-device-width : 414px) and (max-device-width: 767px) {
	.cont-box {
		margin-top: -5.3%;
		border-right: 414px solid transparent;
		/*border의 성질을 이용해 오른쪽테두리만 투명으로 만든다. */
		border-top: 200px solid #F7AC1A; /*border를 사용해 두께를 만든다.*/
	}
	.cont-box1 {
		border-left: 414px solid transparent;
		/*border의 성질을 이용해 오른쪽테두리만 투명으로 만든다. */
		border-bottom: 200px solid #F7AC1A; /*border를 사용해 두께를 만든다.*/
		margin-top: -24%;
	}
	.cont-edit {
		height: 62.094px;
		line-height: 1.8;
		font-size: 3rem;
	}
	.cont-file .profile-img {
		height: 207px;
	}
	.pro-type .health-box {
		height: 34px;
	}
	.cont-profile {
		height: 207px;
	}
	.cont-detail .zip-code,
	.cont-detail .address,
	.cont-detail .address-detail {
		width: 73%;
	}
	.cont-box {
		top: 11.1%;
	}
}

.cont-box {
	position: absolute;
	width: 100%;
}

.cont-box1 {
	width: 100%;
	height: 0px;
	bottom: 0;
}

.cont-profile {
	position: absolute;
	width: 50%;
	border-radius: 50%;
	overflow: hidden;
	left: 50%;
	transform: translate(-50%);
}

.cont-profile-img {
	position: absolute;
	width: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.cont-edit {
	margin: 0;
	position: absolute;
	top: 28%;
	right: 24%;
	width: 15%;
	border-radius: 50%;
	border: 4px solid #eee;
	overflow: hidden;
	text-align: center;
	background-color: white;
	color: black;
}

.cont-file .profile-img {
	opacity: 0;
	width: 50%;
	top: 0;
	transform: translateX(50%);
	border-radius: 50%;
	cursor: pointer;
}

.profile-container .user-name {
	text-align: center;
	font-size: 2rem;
	font-weight: 600;
	padding-top: 4%;
}

.cont-detail {
	padding: 0 3%;
	border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  margin-top: 2%;
}
.health-name,
.cont-detail .company-name,
.cont-detail .introduce {
	font-weight: 600;
	font-size: 1.5rem;
  display: inline-block;
  text-align: left;
  margin-top: 3.5%;
  margin-left: 1%;
 	color: #777;
}

.pro-type {
	display: inline-block;
	width: 50%;
	position: absolute;
	right: 4%;
}

.pro-type .health-box {
	width: 100%;
	border: none;
	border-bottom: 1px solid #ccc;
	font-weight: 600;
}

.cont-detail .company {
	display: inline-block;
  position: absolute;
  right: 4%;
  padding-top: 3%;
  text-align: right;
  font-weight: 600;
  font-size: 1.5rem;
  border: none;
  outline: none;
}
.cont-detail .address-form {
	font-weight: 600;
	font-size: 1.5rem;
  margin-left: 1%;
  margin-top: 3.5%;
  text-align: left;
	color: #777;
}
.cont-detail .name-zip-code,
.cont-detail .name-address,
.cont-detail .name-address-detail {
	color: #777;
	font-weight: 700;
	font-size: 1.5rem;
  text-align: left;
  padding: 2% 2% 2% 5%;
  display: inline-block;
}
.cont-detail .zip-code,
.cont-detail .address,
.cont-detail .address-detail {
	font-weight: 600;
	display: inline-block;
	text-align: right;
	border: none;
	outline: none;
	font-size: 1.5rem;
}
.bottom-line {
	border-bottom: 1px solid #eee;
}
.detail-type {
	padding-bottom: 1%;
	height: 44px;
}
.detail-company-name {
	height: 44px;
}
.detail-company-address {
	height: 140px;
}
.introduction {
	width: 100%;
	margin-top: 1%;
	margin-bottom: 3%;
	padding: 1%
}
.pro-container .save-btn {
	font-size: 5rem;
  right: 8%;
  font-weight: 600;
  position: absolute;
}
#layer {
	display: none; 
	position: fixed; 
	overflow: hidden; 
	z-index: 1; 
	-webkit-overflow-scrolling: touch;
	top: 25%;
}
#layer #btnCloseLayer {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  padding: 0 1%;
  color: crimson;
  font-weight: 800;
}









/**/