/* only demo styles */

body {
font-family: Raleway;
}

/* end only demo styles */

.radioform {
  display: inline-block;
}
.logintype {
opacity: 0;
position: absolute;
}

.logintype, .logintype-label {
display: inline-block;
vertical-align: middle;
margin: 5px;
cursor: pointer;
}

.logintype-label {
position: relative;
}

.logintype + .logintype-label:before {
content: '';
background: #fff;
border: 2px solid #ddd;
display: inline-block;
vertical-align: middle;
width: 20px;
height: 20px;
padding: 2px;
margin-right: 10px;
text-align: center;
}

.logintype + .logintype-label:before {
border-radius: 50%;
}

.logintype:checked + .logintype-label:before {
background: #f7ac1a;
box-shadow: inset 0px 0px 0px 4px #fff;
}

.logintype:focus + .logintype-label {
outline: 1px solid #ddd; /* focus style */
}
