.pro-container {
  width: 415px;
}
.sche-top {
  width : 100%;
  /*border : 1px solid red;*/
  height : 50px;
  background-color: grey;
  size : 50px;
  color: white;
  font-size: 3.3rem;
}
.sche-body {
  padding: 2% 0% 0% 2%;
  /*border : 1px solid blue;*/
  background-color: white;
  height : 600px;
}
.body-day {
    margin : 0% 0% 0% 0%;
  /*background-color: yellow;*/
  width: 80px;
  height : 580px;
  display: inline-block;
}
.body-day > div {
  background-color: silver;
  width: 80px;
  height : 80px;
  display: inline-block;
  margin-top : 3%;
  padding-top: 25%;
  font-size : 2.7rem;
  text-align: center;
}
.body-t-text {
  margin-top: -98%;
  font-size : 2.9rem;
  /*background-color: orange;*/
  width: 40px;
  height : 490;
  left : 25%;
  top : 71%;
  position: absolute;
  text-align: center;

}

.body-time {
  margin-top: -200px;
  background-color: lightgreen;
  width: 57%;
  height : 575px;
  /*display: inline-block;*/
  /*border: 1px solid red;*/
  position: absolute;
  left : 40%;
  top : 43%;

}
.body-time2 {
  margin-top: -200px;
  background-color: green;
  width: 57%;
  height : 575px;
  /*display: inline-block;*/
  /*border: 1px solid red;*/
  position: absolute;
  left : 40%;
  top : 36%;
}

.h-time {
  margin-top: 1%;
  color: white;
  background-color: white;
  /*border : 1px solid red;*/
  height : 38.5px;

}
.ok {
  background-color: black;
}
.sche-btn{
  width: 40%;
}
#time-thu {
   display: show;

}
