.pro-container {
  width: 415px;
}
.sche-top {
  width : 100%;
  /*border : 1px solid red;*/
  height : 40px;
  background-color: grey;
  
  color: white;
  font-size: 1.8rem;
 
}
.sche-info {
	margin-top : 2%;
	height : 23px;
	background-color: white;
	width : 100%;
}
.usetime {
	height : 21px;
	width : 5%;
	background-color: #F7AC1A;
	border : 1px solid black;;
	margin-left : 14%;
}
.useline {
	margin-left : 2%;
}
.textdiv {
	margin-top : 0%;
	width : 20%;
	position: absolute;
  display:inline-block;
	
}
.colordiv {
	position: a;
	display:inline-block;
}

.ingtime {
	margin-left : 54%;
	height : 21px;
	width : 5%;
  background-color: white;
	border : 1px solid black;
}
.ingline {
	margin-left : -17%;
}
.sche-body {
  padding: 2% 0% 0% 2%;
  /*border : 1px solid blue;*/
  background-color: white;
  height : 600px;
  font-weight :
}
.select_day {
	background-color: black;
	color : white; 
	font-size: 2rem; 
	padding-top:25%; 
	font-weight : bold;
	border-radius: 50%;
	border : 2px solid yellow;
}
.emdfhr {
	width: 50%;
    margin-left: 30%;
    margin-top: 2%;
    padding-top: 2%;
    /* border: 1px solid grey; */
    text-align: center;
    height: 56px;
    font-size: 2rem;
    /* border-radius: 5%; */
    background-color: #F7AC1A;
    color: black;
    font-weight: bold;
	
}
.body-day {
    margin : 0% 0% 0% 3%;
  /*background-color: yellow;*/
  width: 80px;
  height : 577px;
  display: inline-block;
}
.body-day > div {
  background-color: white;
  width: 80px;
  height : 80px;
  display: inline-block;
  margin-top : 3%;
  padding-top: 37%;
  font-size : 1.2rem;
  text-align: center;
  color: silver;

}
.body-t-text {
  margin-top: -89%;
  font-size : 1.92rem;
  /*background-color: orange;*/
  width: 40px;
  height : 490;
  left : 25%;
  top : 70.7%;
  position: absolute;
  text-align: center;
  display: none;

}

.body-time {
  margin-top: -142%;
  margin-left: 32%;
  background-color: #dfdfdf;
  width: 62%;

  /*display: inline-block;*/
  /*border: 1px solid red;*/
  /*position: absolute;*/
  
}
.body-time2 {
  margin-top: -200px;
  background-color: green;
  width: 57%;
  height : 575px;
  /*display: inline-block;*/
  /*border: 1px solid red;*/
  position: absolute;
  left : 40%;
  top : 36%;
}

.h-time {
	text-align:center;
	font-size:2.9rem;
  margin-top: 1%;
  color: #dfdfdf;
  background-color: white;
  /*border : 1px solid red;*/
  height : 38.5px;

}
.ok {
  background-color: #F7AC1A;
}
.sche-btn{
  width: 40%;
}
#time-thu {
   display: show;

}
