/*iphone5*/

@media (min-device-width: 320px) and (max-device-width: 374px) {
  .tab-slider--tabs:after {
    height: 30px;
    top: 14.5px;
    left: 1px;
  }
  .week-container .info {
    height: 27px;
  }
  .tab-slider--body>div {
    height: 109px;
  }
  .input-food .food-img-form {
    height: 235px;
  }
  .input-food-container {
    height: 343px;
  }
  .input-food .food-img {
    height: 235px;
  }
  .input-food-container {
    margin-top: 50%;
  }
  #inputfiles, #updatefiles {
    width: 93%;
    height: 67%;
    top: 2.5%;
    left: 3.5%;
  }
}


/*iphone6*/

@media (min-device-width: 375px) and (max-device-width: 413px) {
  .tab-slider--tabs:after {
    height: 35.250px;
    top: 16px;
    left: 2px;
  }
  .week-container .info {
    height: 28.5px;
  }
  .tab-slider--body>div {
    height: 133px;
  }
  .input-food .food-img-form {
    height: 299px;
  }
  .input-food-container {
    height: 425px;
  }
  .input-food .food-img {
    height: 299px;
  }
  .input-food-container {
    margin-top: 46%;
  }
  #inputfiles, #updatefiles {
    width: 94%;
    height: 69.1%;
    top: 2.3%;
    left: 3%;
  }
}


/*iphone6 plus*/

@media (min-device-width: 414px) and (max-device-width: 767px) {
  .tab-slider--tabs:after {
    height: 38.9px;
    top: 15px;
    left: 2.5px;
  }
  .week-container .info {
    height: 30px;
  }
  .tab-slider--body>div {
    height: 150px;
  }
  .input-food .food-img-form {
    height: 312px;
  }
  .input-food-container {
    height: 460px;
  }
  .input-food .food-img {
    height: 312px;
  }
  .input-food-container {
    margin-top: 44%;
  }
  #inputfiles, #updatefiles {
    width: 94%;
    height: 66.5%;
    top: 2.3%;
    left: 3%;
  }
}

.trainer-container {
  /*font-family: "UhBeepuding", serif;*/
  height: 100%;
  background-color: white;
}
.trainer-container .weekly a {
  padding: 10px 0;
  color: black;
}
.trainer-container .weekly {
  width: calc(100%/7);
  margin-left: -4px;

}


.trainer-container .day {

  text-align: center;
  font-size: 1.7rem;
  width: 80%;
  margin-top: 24%;
  font-weight: bold;
  display: inline-block;
}
.trainer-container .tab-slider--tabs > div{
  display: inline-block;
  border: none;
  border-right: 1px solid lightgray;
}

.trainer-container .tab-slider--tabs > div:last-child {
  border: none;
}

.trainer-container .meal-type {
  position: absolute;
  font-size: 1.4rem;
  font-weight: lighter;
  display: inline-block;
  width: 40%;
  top: 6%;
  right: 1%;
}

.trainer-container .meal-name {
  position: absolute;
  font-size: 1.6rem;
  font-weight: bold;
  display: inline-block;
  width: 40%;
  top: 30%;
  right: 1%;
}

.trainer-container .meal-kcal {
  position: absolute;
  font-size: 1.6rem;
  font-weight: lighter;
  display: inline-block;
  width: 40%;
  top: 75%;
  right: 1%;
}
.comfirm-food-name, .comfirm-food-kcal {
  padding: 2% 0 2% 2%;
  position: absolute;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  display: inline-block;
  width: 47%;
  bottom: 15%;
  margin: 3% 2%;
  font-size: 1.4rem;
}

.comfirm-food-name {
	left: 0;
}

.comfirm-food-kcal {
	right: 0;
}

.foodConfirmBtn {
  position: absolute;
  width: 50%;
  font-size: 1.6rem;
  font-weight: bold;
  background-color: #f7ac1a;
  border-radius: 10px;
  bottom: 3.5%;
  left: 25%;
}

.check:after {
	content: "Check";
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 10px;
  border: 3px solid #f7ac1a;
  padding: 0% 4%;
  float: right;
  margin-right: 5%;
  background-color: white;
}

/**/
