
/*iphone5*/
@media (min-device-width: 320px) and (max-device-width: 374px) {
  .matching-container, .review-select-container, .review-write-container {
    margin-top: 30%;
  }
  .promotion-container, .select-promotion-container {
    height: 210px;
  }
  .review-text-container {
    height: 170px;
  }
  .period {
    height: 24px;
  }
  .promotion-endDate {
    left: 66.5%;
  }
  .promotion-startDate, .promotion-endDate {
    font-size: 1.1rem;
  }
  .r-score i {
  margin: 0 1px;
  font-size: 1.37rem;
  color: #f7ac1a;
  }
  
  .r-score-number {
    width: 3%;
    font-size: 1.5rem;
  }
}
/*iphone6*/
@media (min-device-width: 375px) and (max-device-width: 413px) {
 .matching-container, .review-select-container, .review-write-container {
    margin-top: 26%;
  }
  .dateStart {
    height: 32px;
  }
   .promotion-container, .select-promotion-container {
    height: 250px;
  }
  .review-text-container {
    height: 210px;
  }
  .period {
    height: 31.5px;
  }
  .promotion-endDate {
    left: 62.5%;
  }
  .promotion-startDate, .promotion-endDate {
    font-size: 1.1rem;
  }
  .r-score i {
  margin: 0 1px;
  font-size: 1.6rem;
  color: #f7ac1a;
  }
  
  .r-score-number {
    width: 3%;
    font-size: 1.75rem;
  }
}
/*iphone6 plus*/
@media (min-device-width: 414px) and (max-device-width: 767px) {
 .matching-container, .review-select-container, .review-write-container {
    margin-top: 24%;
  }
  .dateStart {
    height: 34px;
  }
   .promotion-container, .select-promotion-container {
    height: 290px;
  }
   .review-text-container {
    height:250px;
   }
  .period {
    height: 34px;
  }
  .promotion-endDate {
    left: 60.5%;
  }
  .promotion-startDate, .promotion-endDate {
    font-size: 1.2rem;
  }
  
  .r-score i {
  margin: 0 1px;
  font-size: 1.8rem;
  color: #f7ac1a;
  }
  
  .r-score-number {
  width : 3%;
  font-size : 2rem;
  }
}

.t-t-table {
    margin-top: 3%;
    display: block;
}
.trainer-image {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
}

/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  
}
/* 별설정*/

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:2.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}
/* 별설정 여기 까지*/
.trainer-profile-image {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.trainer-name {
  height: 50px;
  line-height: 2.7;
  padding: 0 38%;
  font-size: 1.6rem;
  font-weight: 600;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
.trainer-intro .intro,
.trainer-promotion .promotion span,
.trainer-schedule .schedule,
.trainer-map .map,
.trainer-review .review {
  font-size: 1.7rem;
  font-weight: 600;
  margin: 2% 0 2% 5%;
}
.trainer-intro .intro:first-child{
  font-size: 1.7rem;
  font-weight: 600;
  margin: 2% 0;
}
.trainer-intro {
  border-bottom: 1px solid #ddd;
  margin: 2% 5%
}
.intro-tcher {
	text-align: center;
	margin: 5% 5%;
}
.trainer-promotion .promotion {
  margin: 2% 0;
}
.promotion-image-form {
  height: 170px;
  padding: 2%;
}
.image-form {
  display: inline-block;
  height: 152px;
  margin-right: 2%;
}
.promotion-image {
  width: 100%;
}
.schedule .more,
.map .more,
.review .more {
  float: right;
  margin-right: 5%;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
}

.trainer-detail-container {
	  width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    max-height: 84vh;
}
.trainer-scoll-container {
	width: 100%;
}

.button  {
  width: 41%;
  margin:2% 4%;
  color: #fff;
  cursor: pointer;
  height: 40px;
  border: none;
  font-size: 1.4rem;
  font-weight: 500;
  background: #f7ac1a;
  border-radius: 25px;
  transition: background 0.4s ease;
}

.button1  {
  width: 24%;
  margin:2% 4%;
  color: #fff;
  cursor: pointer;
  height: 40px;
  border: none;
  font-size: 1.4rem;
  font-weight: 500;
  background: #f7ac1a;
  border-radius: 25px;
  transition: background 0.4s ease;
}

.swiper-container {
	width: 100%;
}

.promotion-image-form .swiper-wrapper .swiper-slide {
	width: 160px;
	background: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

/**/
.pro-time {
  text-align: center;
  /*background-color: grey;*/
}
.pro-time-off {
  border : 1px solid #e6e6e6;
}

.matchBtn {
  border: 1px solid red;
}
 .matching-container, .review-select-container, .review-write-container {
  display: none;
  position: absolute;
  background-color: #f3f3f3;
  width: 85.5%;
  height: auto;
  top: 0;
  left: 7.25%;
  border-radius: 10px;
  padding: 2% 2% 0 2%;
  z-index: 20;
}
.times .click {
  background-color:#f7ac1a;
  color:white;
}
.matching {
  /*display: none;*/
  display: inline-block;
  height: 100%;
  width: 100%;
  top: 20%;
}

   .promotion-container, .select-promotion-container, .review-text-container {
  background-color: white;
  overflow-x:hidden;
  overflow-y:auto;
  width: 100%;
  top: 0;
  border-radius: 10px;
}

.review-text-container {
	resize :none;
	outline:none;
}
.promotion-list {
  position: relative;
  border-top: 1px solid silver;
  height: 27%;
  overflow: hidden;
}

.selectPromotion {
  border: 2px solid #f7ac1a;
}

.promotion-list:first-child {
  border: none;
  border-radius: 10px 10px 0 0;
}

.promotion-img {
  display: inline-block;
  width: 40%;
  overflow: hidden;
}

.promotion-img img {
  width: 100%;
}

.promotion-startDate,
.promotion-endDate {
  position: absolute;
  margin-left: 2%;
  top: 50%;
}

.promotion-name {
  position: absolute;
  margin-left: 2%;
  top: 10%;
  font-size: 1.3rem;
  font-weight: 800;
}

.btn-form {
  width: 50%;
  margin: 2% auto;
  margin-bottom: 4%;
}
.matchingBtn {
  width: 100%;
  font-size: 1.6rem;
  font-weight: bold;
  background-color: #f7ac1a;
  border-radius: 10px;
  margin: 0 auto;
}

.btn{
  width: 100%;
  font-size: 1.6rem;
  font-weight: bold;
  background-color: #f7ac1a;
  border-radius: 10px;
  margin: 0 auto;
}

.matching-start-date {
  float: left;
  margin-top: 3%;
  margin-left: 6%;
  width: 55%;
  display: inline-block;
}

.calendar {
  left: 11%;
  font-size: 1.4rem;
}

.dateStart {
  left: 24.5%;
  width: 88%;
  padding-left: 2%;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1.3rem;
}

.period-form {
  float: left;
  margin-left: 2%;
  margin-top: 3%;
  display: inline-block;
  width: 31%;
}

.period {
  width: 100%;
  right: 5.5%;
  display: inline-block;
  font-size: 1.3rem;
  padding: 0 3% 1% 3%;
  border: 1px solid #ccc; 
}
  
.times {
  width: 96%;
  top: 61%;
}
.time-box {
  float: left;
  background-color: white;
  margin: 2%;
  width: 16%;
  height: 8%;
  display: inline-block;
  font-weight: 700;
  font-size: 1.3rem;
  padding: 2% 3%;
  border: 1px solid #ddd;
}

.backscreen {
  position: absolute;
  top: 0;
  display: none;
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 15;
}
.backscreen1 {
  position: absolute;
  top: 0;
  display: none;
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 15;
}
.ok {
  background-color: #eddfba;
}

th {
  text-align: center;
  background-color:#F7AC1A;
  width: 13.5%;
  color : white;
}
tr {
  height: 30px;
}
td {
  height: 30px;
}

.more.up,
.more .down {
	font-size: 1.8rem;
}
#r-r-table {
  height : auto;
  padding : 2%;
  background-color : #f3f3f3; 
}
#r-r-inner {
  overflow:hidden;
  overflow-y:scroll;
  width : 100%;
  max-height : 200px;
  margin: 10px 0;
}
.xmf {
  width : 99%;
  margin : 0% 0% 1% 0%;
  border: 1px solid silver;
  padding : 3%;
  background-color : white;
  border-radius: 5px;
  position:relative;
}

.r-score {
  display : inline-block;
  width : 26%;
  margin-left:1%;
}
.inline {
	display : inline-block;
	padding-bottom: 2%;
}
.r-date {
	 margin: 0 2%;
	 font-size: 1.5rem;
}
.r-name {
	margin: 0 2%;
   font-size: 1.5rem;
}

.rev-delete {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    background: #f7ac1a;
    border-radius: 25px;
    transition: background 0.4s ease;
}
.fa-angle-up , .fa-angle-down {
	font-weight: 600;
}
.r-del {
    position: absolute;
    display: inline-block;
    width: 18%;
    margin: 0 5px;
    top: 8%;
    right: 2%;
    height: 30px;
  
}
.r-info {
  width : 100%;
  padding: 2%;
  white-space : pre-line;
  border-radius: 10px;
  overflow:hidden;
}
.r-title {
	white-space: norwrap;
	font-weight: bold;
}
#r-r-container {
	width: 100%;
}
