/*iphone5*/
@media (min-device-width: 320px) and (max-device-width: 374px) {
  .list {
		height: 139px;
	}
	.endDate {
  	left: 66.5%;
	}
}
/*iphone6*/
@media (min-device-width: 375px) and (max-device-width: 413px) {
  .list {
		height: 150px;
	}
	.endDate {
  	left: 62.5%;
	}
}
/*iphone6 plus*/
@media (min-device-width: 414px) and (max-device-width: 767px) {
  .list {
		height: 155px;
	}
	.endDate {
  	left: 62%;
	}
}

.list {
  position: relative;
  border-bottom: 1px solid silver;
}
.training:first-child[.list] {
  margin-top: 3%;
}
.list img {
  margin: 2%;
  width: 35%;
  height: 90%;
}

.promotionName,
.startDate,
.endDate,
.trainerName,
.trainer,
.mealBtn {
  position: absolute;
  font-size: 1.5rem;
  margin-left: 1%;
}

.promotionName {
  top: 10%;
  font-size: 1.7rem;
  font-weight: 800;
}
.startDate,
.endDate  {
  top: 32%;
}

.trainerName {
  top: 47%;
  font-weight: 600;
}
.trainer {
	top: 47%;
	left: 51%
}

.mealBtn {
	bottom: 6.5%;
	right: 3%;
	font-size: 1.4rem;
	font-weight: 600;
	box-shadow: 2px 2px 2px 1px;
}









/**/
