/*iphone5*/
@media (min-device-width: 320px) and (max-device-width: 374px) {
  html {
    font-size: 10px;
  }
  .tab-slider--tabs:after{
    height: 30px;
    top: 14.5px;
    left: 1px;
  }
  .week-container .info {
    height: 27px;
  }
  .tab-slider--body > div {
    height: 109px;
  }
  .input-food .food-img-form {
  	height: 235px;
	}
	.input-food-container {
		height: 343px;
	}
  .input-food .food-img {
	  height: 235px;
	}
	.input-food-container {
		margin-top: 50%;
	}
	#inputfiles, #updatefiles {
		width: 93%;
		height: 64%;
		top: 2.5%;
		left: 3.5%;
	}
}
/*iphone6*/
@media (min-device-width: 375px) and (max-device-width: 413px) {
  html {
    font-size: 12px;
  }
  .tab-slider--tabs:after{
    height: 35.250px;
    top: 16px;
    left: 2px;
  }
  .week-container .info {
    height: 28.5px;
  }
  .tab-slider--body > div {
    height: 133px;
  }
  .input-food .food-img-form {
  	height: 299px;
	}
	.input-food-container {
		height: 425px;
	}
	.input-food .food-img {
	  height: 299px;
	}
	.input-food-container {
		margin-top: 46%;
	}
	#inputfiles, #updatefiles {
		width: 94%;
		height: 70%;
		top: 2.3%;
		left: 3%;
	}
}
/*iphone6 plus*/
@media (min-device-width: 414px) and (max-device-width: 767px) {
  html {
    font-size: 14px;
  }
  .tab-slider--tabs:after{
    height: 38.9px;
    top: 15px;
    left: 2.5px;
  }
  .week-container .info {
    height: 30px;
  }
  .tab-slider--body > div {
    height: 150px;
  }
  .input-food .food-img-form {
  	height: 312px;
	}
	.input-food-container {
		height: 460px;
	}
	.input-food .food-img {
	  height: 312px;
	}
	.input-food-container {
		margin-top: 44%;
	}
	#inputfiles, #updatefiles {
		width: 94%;
		height: 66%;
		top: 2.3%;
		left: 3%;
	}
}
/*@font-face {font-family: 'UhBeepuding';src: url('../font/UhBeepuding.eot');}
@font-face {font-family: 'UhBeepuding';src: url('../font/UhBeepuding.woff') format('woff');}*/
body{
	position relative;
}
input:focus {
  outline:none;
}
.btn {
	outline: none;
}
.user-container {
  /*font-family: "UhBeepuding", serif;*/
  height: 100%;
  background-color: white;
}
.week-container {
  margin: 3%;
  height: 90%;
  border-radius: 20px;
  background-color: white;
}
.tab-slider--tabs{
  transform: translateX(2%);
  display:block;
  padding:0;
  list-style:none;
  position:relative;
}
.tab-slider--nav{
  padding: 2% 0% 5% 0%;
}
.tab-slider--tabs:after{
  content: "";
  width: 10%;
  background:#fbd58c;
  position:absolute;
  transition:all 250ms ease-in-out;
  border-radius:70px;
}


.tab-slider--tabs.slide0:after{
  left: calc(100%/120);
}
.tab-slider--tabs.slide1:after{
  left: calc(100%/6.65);
}
.tab-slider--tabs.slide2:after{
  left: calc(100%/3.41);
}
.tab-slider--tabs.slide3:after{
  left: calc(100%/2.3);
}
.tab-slider--tabs.slide4:after{
  left: calc(100%/1.725);
}
.tab-slider--tabs.slide5:after{
  left: calc(100%/1.39);
}
.tab-slider--tabs.slide6:after{
  left:calc(100%/1.156);
}
.tab-slider--trigger{
  font-size: 0.8rem;
  line-height:1;
  font-weight:lighter;
  color:black;
  text-transform:uppercase;
  text-align:center;
  position:relative;
  z-index:2;
  cursor:pointer;
  display:inline-block;
  transition:color 250ms ease-in-out;
  user-select:none
}

.tab-slider--body{
  margin-bottom:20px
}
.user-container .weekly a {
  padding: 10px 0;
  color: black;
}
.user-container .weekly {
  width: calc(100%/7);
  margin-left: -4px;

}


.user-container .day {

  text-align: center;
  font-size: 1.6rem;
  width: 80%;
  margin-top: 24%;
  font-weight: bold;
  display: inline-block;
}
.user-container .tab-slider--tabs > div{
  display: inline-block;
  border: none;
  border-right: 1px solid lightgray;
}

.user-container .tab-slider--tabs > div:last-child {
  border: none;
}

.week-container .info {
  position: relative;
  margin: 0 3% 2% 4%;
}
.week-container .year-month,
.week-container .year,
.week-container .month,
.week-container .username,
.week-container .user,
.week-container .kcal-info .total,
.week-container .kcal-info .kcal-total,
.week-container .kcal-info .kcal {
  color: #666;
  display: inline-block;
}
.week-container .year-month {
  font-size: 1.4rem;
  position: absolute;
  right: 0px;
}
.week-container .username {
  font-size: 1.4rem;
  position: absolute;
  left: 0px;
}
.week-container .month {
  font-size: 1rem;
}
.week-container .info-container {
  position: relative;
}
.week-container .kcal-info{
  background-color: white;
  position: absolute;
  font-size: 1.1rem;
  height: 30px;
  top: 0;
  width: 30%;
  left: 70%;
}

.kcal-info .kcal-total {
  width: auto;
  font-size: 1.5rem;
}

.tab-slider--body img {
  width: 150%;
}

.tab-slider--body > div {
  width: 100%;
  border-radius: 10px;
  background-color: #f5f5f5;
  margin-bottom: 2%;
  overflow: hidden;
}

.img-fix {
  display: inline-block;
  width: 55%;
  height: 91%;
  border-radius: 10px;
  margin: 2% 0 2% 2%;
  overflow: hidden;
  box-sizing: border-box;

}
.kcal-body {
  margin: 10% 6% 5% 6%;
}

.meal {
  position: relative;
}
.user-container .meal-type {
  position: absolute;
  font-size: 0.9rem;
  font-weight: lighter;
  display: inline-block;
  width: 40%;
  top: 6%;
  right: 1%;
}

.user-container .meal-name {
  position: absolute;
  font-size: 1.2rem;
  font-weight: bold;
  display: inline-block;
  width: 40%;
  top: 30%;
  right: 1%;
}

.user-container .meal-kcal {
  position: absolute;
  font-size: 1.2rem;
  font-weight: lighter;
  display: inline-block;
  width: 40%;
  top: 75%;
  right: 1%;
}
.kcal-body > .kcal-info .kcal {
    font-size: 1.2rem;
    font-weight: lighter;
    display: inline-block;
    width: 26%;
    top: 75%;
    right: -8%;
}
.kcal-body > .meal .kcal {
  position: absolute;
  font-size: 1.2rem;
  font-weight: lighter;
  display: inline-block;
  width: 40%;
  top: 75%;
  right: -8%;
}

.input-food-container {
	display: none;
	position: absolute;
	background-color: #f3f3f3;
	width: 85.5%;
	height: 63%;
	top: 0;
	left: 7.25%;
	border-radius: 10px;
	padding: 2% 2% 0 2%;
	z-index: 20;
}


.input-food {
	/*display: none;*/
  display: inline-block;
  height: 100%;
  width: 100%;
  top: 20%;
}

.input-food .food-img {
  opacity: 0; /*This*/
  position: absolute;
  width: 96%;
  cursor: pointer;
}

.input-food .food-img-form {
  width: 100%;
}

.input-food label {
  color: #5F626A;
  cursor: pointer;
  display: block;
  border: 3px dashed #5F626A;
  border-radius: 10px;
  overflow: hidden;
  transition: background ease .5s;
  pointer-events: none; /*This for FF*/
}
.add-image {
  display: block;
  width: 100%;
  margin: 38% auto;
  text-align: center;
  font-size: 1.5rem;
}

.food-name, .food-kcal, 
.already-food-name, 
.already-food-kcal {
	padding: 2% 0 2% 2%;
	position: absolute;
	border: 2px solid black;
	border-radius: 10px;
	background-color: white;
	display: inline-block;
	width: 47%;
	margin: 3% 2%;
	font-size: 1.4rem;
}

.food-name, .already-food-name {
	left: 0;
}

.food-kcal, .already-food-kcal {
	right: 0;
}

.foodAddBtn {
	position: absolute;
	width: 50%;
	font-size: 1.4rem;
	font-weight: bold;
	background-color: #f7ac1a;
	border-radius: 10px;
	bottom:3.5%;
	left: 25%;
}

.foodUpdateBtn {
	position: absolute;
	width: 40%;
	font-size: 1.4rem;
	font-weight: bold;
	background-color: #f7ac1a;
	border-radius: 10px;
	bottom:3.5%;
	left: 7%;
}
.foodDeleteBtn {
	position: absolute;
	width: 40%;
	font-size: 1.4rem;
	font-weight: bold;
	background-color: #f7ac1a;
	border-radius: 10px;
	bottom:3.5%;
	right: 7%;
}
	
.camera-size {
	width: 100%;
	font-size: 5rem;
	margin-top: 12%;
}

.backscreen {
	position: absolute;
	top: 0;
	display: none;
	height: 100vh;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 15;
}

#inputfiles, #updatefiles {
	position: absolute;
  border-radius: 8px;
  overflow: hidden;
}

.img-size {
	width: 332.72px;
	height: 100%;
}
/**/
